.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      みなさまに安心してお取引を楽しんでいただくために、メルカリが取り組んでいることをご紹介します。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      １．安心できるお金のやりとり
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      商品代金を一時的にメルカリがお預かりする独自の売買システムにより、「商品を発送したのに代金が支払われない」「支払ったのに商品が届かない」等、お金に関するトラブルを防止しています。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ２．安心配送システム「メルカリ便」
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      配送方法で「らくらくメルカリ便」、「ゆうゆうメルカリ便」をお選びいただくと、出品者と購入者が互いに名前や住所を知らせることなく取引ができます。また、配送時のトラブルにより商品紛失・破損等が発生した際には、メルカリが商品代金/販売利益を全額補償いたします。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ３．充実したサポート・補償体制
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      「商品が届かない」「商品に不備があった」「購入者が受取評価をしてくれない」等のトラブルにあわれた場合、カスタマーサービスが解決に向けてサポートし、状況に応じて補償を行います。お困りの際には、メルカリ事務局にお気軽にお問い合わせください。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ４．安全のパトロール体制
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      専門スタッフが365日24時間体制で迷惑行為や不正出品物のチェックを行っており、トラブルの未然防止を推進しています。また、AIや機械学習等のテクノロジーを応用することで、モニタリングの精度を向上させています。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ５．偽ブランド品の撲滅
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      メルカリは、ブランド権利者と協力のうえ、模倣品（偽ブランド品）の取り締まりを強化しています。万が一、偽物の疑いのある商品が届いた場合は、お問い合わせをお願いします。事実確認のうえ、当社の基準に則り、最大で全額（商品購入相当額等）を補償いたします。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ６．捜査機関や官公庁との連携
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      メルカリでのトラブルや犯罪を未然に防ぐために、警察や国民生活センター・消費生活センターとの情報交換や勉強会等を積極的に行っています。
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      気をつけていても、トラブルに巻き込まれてしまった場合は
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ①アプリ内のサイドメニュー、もしくはWeb内のマイページから、すぐにメルカリ事務局にお問い合わせください
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ②メルカリ事務局からの連絡をお待ちください
.l-default-container
  %section.p-item_box-container.l-single_container
    %h1.p-item_name
      ※未成年の方はまずは保護者にご相談のうえ、お問い合わせください
