%main.white{:role => "main"}
  %section.owl-carousel.top-carousel.owl-loaded.owl-drag
    %div
      .top-main-visual
        %div
          .top-main-visual-content
            %h2
              スマホでかんたん
              %br>/
              フリマアプリ
            %p
              メルカリはスマホカメラからすぐに出品できる
              %br>/
              購入時も安心な独自システムのアプリです
            .top-main-visual-store.clearfix
              %a.pull-left{:href => "", :target => "_blank"}
                %img{:alt => "", :src => "/assets/common/app-store.svg"}/
              %a.pull-left{:href => "", :target => "_blank"}
                %img{:alt => "", :src => "/assets/common/google-play.svg"}/
          %img{:alt => "", :src => "/assets/common/jp/top/main_content_pc.png"}/
      #sp-top.visible-sp
        #sp-top-banner
          %h2
            スマホで
            %br>/
            かんたん
            %br>/
            フリマアプリ
          %img{:alt => "", :src => "/assets/common/jp/top/main_content_pc.png"}/
        #sp-top-dl.clearfix
          %a{:href => ""}
            %img{:alt => "", :src => "/assets/common/app-store.svg"}/
          %a{:href => ""}
            %img{:alt => "", :src => "/assets/common/google-play.svg"}/
    %a.top-banner.banner-new-register{:href => "/promotion/201812_new_register/"}
    %a.top-banner.banner-kusanagi-xmas{:href => ""}
    %a.top-banner.banner-welcome{:href => "/welcome/"}

  %section.pickup-container
    %h2.pickup-head ピックアップカテゴリー
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/category/1/"}
          レディース 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ロンハーマン  Ron Herman ライトイエロー クラッチバック ベロア
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,800
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 1
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 12/13まで メイドさん衣装 コスプレ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,222
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 7
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 zucchero filato（ズッケロフィラート）長財布最終値下げ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,799
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 5
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 GU ジャンパースカート
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,690
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 6
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/category/1/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/category/2/"}
          メンズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 alfredoBANNISTER
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,500
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 1
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ☆ＦＩＬＡポロシャツ☆
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,100
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 1
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 帽子 ハット ハーレー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,222
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 チェスターコート  DKNY メンズ 黒 Mサイズ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,500
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 4
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/category/2/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/category/3/"}
          ベビー・キッズ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ベビービョルン 抱っこ紐
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 2
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ファミリア カーディガン 80
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,000
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 コムサイズム★１００★未使用★ナイロンスカート 送料込み
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 555
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 12
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 MY GYM マイジム リュック バッグ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,000
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/category/3/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/category/6/"}
          コスメ・香水・美容 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 爪切り
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 500
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 アイメイク ブラシ5本セット
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 780
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 資生堂ルモンドール☆シャンプー・コンディショナー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,900
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 資生堂 elixir エリクシール リンクルクリーム 2g*3個
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,990
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/category/6/"} すべての商品を見る
  %section.pickup-container
    %h2.pickup-head ピックアップブランド
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/brand/658/"}
          シャネル 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 CHANEL プラットフォーム バイカラー ココマーク パンプス ハイヒール
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 18,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 6
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 CHANEL BLUSH LEVRES LIP BLUSH #54LUCIFER
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 1,500
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 正規品 シャネル ショルダーバッグ サテン
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 120,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 2
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 CHANEL
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 15,800
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/brand/658/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/brand/1326/"}
          ルイ ヴィトン 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ルイヴィトン iPodケースカバー
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 12,000
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ルイヴィトン ヴェルニ  長財布
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 41,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 19
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 新品☆国内正規品 BOTTEGA VENETA ビアンコ ドジャースリッポン
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 105,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 6
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 「美品」LOUIS VUITTON エピ 長財布 ジッピーウォレット
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 35,800
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 8
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/brand/1326/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/brand/1620/"}
          シュプリーム 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 値下ヴェトモン元ネタ ファイヤーマン スウェット フランス軍 セキュリティシャツ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 8,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 6
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ニット帽 supreme
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 5,000
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 supreme tee Tシャツ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 9,900
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 【送料込】Supreme × Hanes ボクサーパンツ  Sサイズ 2枚セット
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 4,880
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/brand/1620/"} すべての商品を見る
    %section.items-box-container.clearfix
      %h3.text-center
        %a{:href => "/brand/857/"}
          ナイキ 新着アイテム
      .items-box-content.clearfix
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 ジョーダン、ピッペンTシャツ
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 3,200
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 4
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 NIKE ナイキ スニーカー　イエロー×レッド
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 4,000
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 1
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 NIKE ウィメンズ トップス
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 2,700
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 4
                %p.item-box-tax (税込)
        %section.items-box
          %a{:href => "リンクが入る"}
            %figure.items-box-photo
              %img{:alt => "", :src => "/assets/common/img_dummy.jpg"}/
            .items-box-body
              %h3.items-box-name.font-2 NIKE ナイキ エアヴェイパーマックス フライニット2   新品、送料無料
              .items-box-num.clearfix
                .items-box-price.font-5 ¥ 27,300
                .items-box-likes.font-2
                  %i.icon-like-border
                  %span 4
                %p.item-box-tax (税込)
      .view-all
        %a{:href => "/brand/857/"} すべての商品を見る
