.l-single_wrapper
  %main.l-single_main
    %section.l-single_container
      %h2.l-single_head パスワードをお忘れの方
      = form_for 'path', html: {class: 'l-single_inner'} do |f|
        .l-single_content
          .c-form_group
            = f.label :email, 'メールアドレス'
            = f.email_field :email, placeholder: 'ご登録されたメールアドレス', class: 'c-input-default'
            %p.password-reset-info ご登録されたメールアドレスにパスワード再設定のご案内が送信されます。
          .c-form_group
          = f.submit '送信する', class: 'c-btn-default is-red'
