.l-single_wrapper
  %main.l-single_main
    %section.l-single_container
      %h2.l-single_head 新規会員登録
      .l-single_inner
        .l-single_content
          = link_to new_user_registration_path, class: 'c-btn-default is-mail' do
            %i.c-icon-mail
            メールアドレスで登録
          = button_tag 'Facebookでログイン', id: 'facebook-login', class: 'c-btn-default is-sns is-sns-facebook'
          = button_tag 'Googleでログイン', id: 'google-login', class: 'c-btn-default is-sns is-sns-google'
