%br
%br
.l-single_wrapper
  %main.l-single_main
    %section.l-single_container
      %h2.l-single_head 電話番号の確認
      = form_for @phone_number, html: {class: 'l-single_inner'} do |f|
        .l-single_content
          .c-form_group
            = f.label :number do
              携帯電話の番号
            = f.telephone_field :number, autofocus: true, placeholder: '携帯の電話番号を入力', class: 'c-input-default'
          %p 本人確認のため、携帯電話のSMS(ショートメッセージサービス)を利用して認証を行います。
          .c-form_group
            = f.submit 'SMSを送信する', class: 'c-btn-default is-red'
          %p ※電話番号は本人確認や不正利用防止のために利用します。他のユーザーに公開されることはありません。