.l-content
  %section.l-chapter-container
    %h2.l-chapter-head 支払い方法
    .l-single_inner
      -# %section
      -#   .l-single_content
      -#     %h3.l-chapter-sub-head クレジットカード一覧
      -#   %ul.settings-payment-list
      -# %section.p-mypage_add-card
      -#   .l-single_content
      -#     = link_to '/mypage/card/create/', class: 'c-btn-default is-red c-submit_button' do
      -#       %i.c-icon-card
      -#       クレジットカードを追加する
      -# 登録後はこちらを表示
      %section
        .l-single_content
          %h3.l-chapter-sub-head クレジットカード一覧
        %ul.p-mypage_payment-list
          %li
            = form_for '/', html: { class: 'l-single_content'} do |f|
              %figure
                = image_tag 'card/master-card.svg', alt: 'mastercard', width: '26', height: '20'
              .p-mypage_payment-num ************9889
              .p-mypage_payment-num 09 / 22
              = button_tag '削除する', class: 'p-mypage_payment-remove'
      .p-mypage_not-regist
        = link_to '/help_center/category/6/', target: '_blank' do
          %span 支払い方法について
          %i.c-icon-arrow-right
