.l-content
  %section.p-mypage_tab-container
    %h2.p-mypage_tab-head 購入した商品
    %ul.p-mypage_tabs.js-tab_menu
      %li.is-active
        %h3
          取引中
      %li
        %h3
          過去の取引
    .p-mypage_tab-content
      - if @under_transaction_items.present?
        %ul#p-mypage_tab-transaction-now.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
          = render :partial => "mypages/under_transaction_items", :collection => @under_transaction_items, :as => "under_transaction_item"
      - else
        %ul#p-mypage_tab-transaction-now.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
          %li.p-mypage_item-not-found.u-fwBold 現在、取引中の商品はありません

