.l-content
  %h2.p-mypage_tab-head お知らせ
  .mypage-contents.is-white-background
    - if @information.present?
      %ul#p-mypage_tab-notification.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
        = render partial: "mypages/information", collection: @information, as: "information"
    - else
      %ul#p-mypage_tab-nortification.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
        %li.p-mypage_item-not-found.u-fwBold 現在、お知らせはありません

