.l-content
  %section.p-mypage_tab-container-notification-todo
    %ul.p-mypage_tabs.js-tab_menu
      %li
        %h3
          お知らせ
      %li.is-active
        %h3
          やることリスト
    .p-mypage_tab-content
      - if @todos.present?
        %ul#p-mypage_tab-todo.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content.is-active
          = render :partial => "mypages/todo", :collection => @todos, :as => "todo"
      - else
        %ul#p-mypage_tab-todo.c-mypage_item-list.p-mypage_tab-content_tab-pane.js-tab_content
          %li.p-mypage_item-not-found.u-fwBold 現在、やることリストはありません
