.l-content
  %section.l-chapter-container.p-mypage_identification
    %h2.l-chapter-head 本人情報の登録
    %p.u-taCenter お客さまのあんしん・あんぜんな取引のため、本人情報のご登録をお願いしております。
    - @addresses.each do |address|
      .l-single_content
        .c-form_group
          =link_to "#{address.postal_code} #{address.prefecture} #{address.city}", edit_address_path(address)
