= form_with model: item, html: {class: 'p-sell_form'} do |f|
  = f.label :lower_category_id do
    %span
  .c-select-wrap
    = f.select :lower_category_id, options_from_collection_for_select(@lower_categories, :id, :name), {prompt: "---"}, {data: {remote: true, url: url_for(action: :dynamic_lower_category)}, class: 'c-select-default'}
    %i.c-icon-arrow-bottom
