= form_with model: item, html: {class: 'p-sell_form'} do |f|
  = f.label :size_id do
    サイズ
    %span
  %div
    .c-select-wrap
      = f.select :size_id, options_from_collection_for_select(@sizes, :id, :name), {prompt: "---"}, class: 'c-select-default'
      %i.c-icon-arrow-bottom
