/*
  component
*/
/* title */
h2 {
  font-size: 22px;
  line-height: 1.4;
}
h3 {
  font-size: 22px;
}
.c-items-box-head {
  font-size: 22px;
  margin: 24px 4% 8px;
  line-height: 1.4;

  @include media-pc {
    margin: 24px 0 8px;
  }
}
.c-spacial-description {
  margin-top: 30px;

  @include media-pc {
    overflow: hidden;
    border-radius: 4px;
  }

  &_title {
    h3 {
      padding: 16px 8px;
    }
  }
  &_text {
    padding: 30px;
    line-height: 1.6em;
  }
}

/* text */
.c-font-1 {
  font-size: 16px;
  font-weight: 600;
  color: #333;
}
.c-font-2 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.c-font-3 {
  font-size: 14px;
  font-weight: 600;
  color: #333;
}
.c-font-4 {
  font-size: 14px;
  font-weight: 400;
  color: #333;
}
.c-font-5 {
  font-size: 20px;
  font-weight: 600;
  color: #333;
}
.c-font-6 {
  font-size: 18px;
  font-weight: 400;
  color: #333;
}
.c-font-7 {
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
/* icon */
.c-icon-facebook {
  color: #fff;
  background: #385185;
  font-size: 18px;

  &:before {
    content: "\E013";
  }
}
.c-icon-google-plus {
  color: #fff;
  background: #dc4e41;
  font-size: 14px;

  &:before {
    content: "\E016";
  }
}
.c-icon-like {
  color: #ea352d;
}
.c-icon-like-border {
  color: #ccc;
}
.c-icon-line {
  color: #fff;
  background: #00c137;
  font-size: 22px;
}
.c-icon-pinterest {
  color: #fff;
  background: #aa262a;
  font-size: 18px;
}
.c-icon-twitter {
  color: #fff;
  background: #5d9dc9;
  font-size: 16px;
}
.c-icon-time {
  font-size: 16px;
  vertical-align: middle;
}
.c-icon-good {
  color: #ef5185;
}
.c-icon-normal {
  color: #fba933;
}
.c-icon-bad {
  color: #6ab5d8;
}
.c-icon-balloon {
  font-size: 15px;
}
i {
  &[class^='c-icon-'], &[class*='c-icon-'] {
    @include icon;
  }
}
.c-icon-arrow-bottom:before { content: "\E001"; }
.c-icon-arrow-double-left:before { content: "\E002"; }
.c-icon-arrow-double-right:before { content: "\E003"; }
.c-icon-arrow-left:before { content: "\E004"; }
.c-icon-arrow-right:before { content: "\E005"; }
.c-icon-arrow-up:before { content: "\E006"; }
.c-icon-bad:before { content: "\E007"; }
.c-icon-balloon:before { content: "\E008"; }
.c-icon-bell:before { content: "\E009"; }
.c-icon-camera:before { content: "\E00A"; }
.c-icon-car:before { content: "\E00B"; }
.c-icon-card:before { content: "\E00C"; }
.c-icon-cart:before { content: "\E00D"; }
.c-icon-check:before { content: "\E00E"; }
.c-icon-close:before { content: "\E00F"; }
.c-icon-coin:before { content: "\E010"; }
.c-icon-delete:before { content: "\E011"; }
.c-icon-download:before { content: "\E012"; }
.c-icon-flag:before { content: "\E014"; }
.c-icon-good:before { content: "\E015"; }
.c-icon-history:before { content: "\E017"; }
.c-icon-like-border:before { content: "\E018"; }
.c-icon-like:before { content: "\E019"; }
.c-icon-line:before { content: "\E01A"; }
.c-icon-list:before { content: "\E01B"; }
.c-icon-lock:before { content: "\E01C"; }
.c-icon-mail:before { content: "\E01D"; }
.c-icon-message:before { content: "\E01E"; }
.c-icon-minus:before { content: "\E01F"; }
.c-icon-normal:before { content: "\E020"; }
.c-icon-phone:before { content: "\E021"; }
.c-icon-pinterest:before { content: "\E022"; }
.c-icon-plus:before { content: "\E023"; }
.c-icon-search_detail:before { content: "\E024"; }
.c-icon-search:before { content: "\E025"; }
.c-icon-size:before { content: "\E026"; }
.c-icon-sort:before { content: "\E027"; }
.c-icon-star:before { content: "\E028"; }
.c-icon-tag:before { content: "\E029"; }
.c-icon-time:before { content: "\E02A"; }
.c-icon-track:before { content: "\E02B"; }
.c-icon-twitter:before { content: "\E02C"; }
/* button */
.c-btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  transition: all ease-out 0.3s;
  cursor: pointer;
  text-align: center;
  &:hover {
    text-decoration: none;
  }
  &.is-disabled, &:disabled {
    border: 1px solid #888;
    background: #888;
    color: #fff;
  }
  &.is-disabled:hover, &:disabled:hover {
    background: #888;
    color: #fff;
  }
}
.btn-small {
  line-height: 27px;
}
.is-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  &:hover {
    background: #e62017;
    color: #fff;
  }
}
.btn-outline-red {
  background: #fff;
  color: #ea352d;
  border: 1px solid #ea352d;
}
.is-gray {
  background: #aaa;
  border: 1px solid #aaa;
  color: #fff;
}
.is-white-background {
  background: #fff;
}
.btn-white {
  background: #fff;
  border: 1px solid #fff;
  color: #888;
  border: 2px solid #888;
}
.btn-phone {
  background: #49d960;
  border: 1px solid #49d960;
  color: #fff;
}
.btn-radius {
  width: 90%;
  margin: 0 auto;
  font-weight: 600;
  border-radius: 30px;
}
.is-sns {
  position: relative;
  &:before {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    font-size: 18px;
  }
}
.is-sns-facebook {
  margin: 16px 0 0;
  background: #385185;
  color: #fff;
  &:first-child {
    margin: 0;
  }
  &:before {
    content: "\E013";
    @include icon;
  }
}
.is-sns-google {
  margin: 16px 0 0;
  background: #dc4e41;
  color: #fff;

  &:before {
    content: "\E016";
    @include icon;
    font-size: 14px;
  }
}
.is-sns-twitter {
  margin: 16px 0 0;
  background: #5d9dc9;
  color: #fff;

  &:before {
    content: "\e02c";
    @include icon;
    font-size: 14px;
  }
}
.is-sns-instagram {
  margin: 16px 0 0;
  background: #262626;
  color: #fff;

  &:before {
    content: "\f16d";
    @include icon;
    font-family: fontAwesome;
    font-size: 21px;
    align-items: flex-start;
  }
}
.is-mail {
  position: relative;
  background: #eee;
  color: #000;
  .c-icon-mail {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translate(0, -50%);
    color: #ccc;
    font-size: 16px;
  }
}
.c-item-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  transition: all ease-out 0.3s;
}
.c-item-button-left {
  @include media-pc {
    float: left;
  }
}
.c-item-button-right {
  margin: 16px 0 0;

  @include media-pc {
    margin: 8px 0 0;
    float: right;
  }
}
.c-item-button-like {
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  &.has-error {
    animation: wobble 1s forwards;
  }
  &.is-liked {
    border: 1px solid #ea352d;
    background: none;
    color: #ea352d;
  }
  .icon-loading {
    margin: 0 0 0 8px;
  }
}
.c-item-button-report {
  margin: 0 0 0 8px;
  color: #333;
  background: #f5f5f5;

  @include media-pc {
    margin: 0 0 0 16px;
  }
}
/* form */
.c-input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  &.has-error {
    border-color: #ea352d;
  }
  &:focus {
    border-color: #0099e8;
  }
}
.c-form_group {
  margin: 40px 0 0;
  &:first-child {
    margin: 0;
  }
  &.is-hidden {
    display: none;
  }
  label {
    font-weight: 600;
    + .c-textarea-default {
      margin: 8px 0 0;
    }
  }
  .c-input-default {
    width: 100%;
    margin: 8px 0 0;
    + label {
      margin: 24px 0 0;
    }
  }
  .c-select-wrap {
    margin: 8px 0 0;
  }
  select {
    width: 100%;
  }
  .c-checkbox-default, .c-radio-default, .c-textarea-default {
    margin: 16px 0 0;
  }
  .c-icon-arrow-bottom {
    position: absolute;
  }
}
.c-checkbox-default {
    position: relative;
    font-size: 0;
}
.c-checkbox-default input[type='checkbox'] {
    display: none;
}
.c-checkbox-default label {
    position: relative;
    z-index: 2;
    padding: 0 0 0 28px;
    font-size: 14px;
    font-weight: 400;
    vertical-align: middle;
    cursor: pointer;
}
.c-checkbox-default .c-icon-check {
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 10px;
    line-height: 17px;
    text-align: center;
    color: #fff;
    vertical-align: middle;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
.c-checkbox-default input[type='checkbox']:checked + .c-icon-check {
    border-color: transparent;
    background: #0099e8;
    opacity: 1;
}
.c-textarea-default {
  display: block;
  width: 100%;
  max-width: 100%;
  min-height: 104px;
  padding: 10px;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 16px;
  line-height: 1.5;
  &:disabled {
    background: #f5f5f5;
  }
  &.has-error {
    border-color: #ea352d;
  }
  &:focus {
    border-color: #0099e8;
  }
}
.c-radio-default {
  position: relative;
  input[type='radio'] {
    position: absolute;
    top: 50%;
    left: 0;
    width: 20px;
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 50%;
    background: #fff;
    transition: all ease-out 0.3s;
    cursor: pointer;
    transform: translate(0, -50%);
    &:checked {
      border: 0;
      border: 6px solid #0099e8;
    }
  }
  label {
    margin: 0 0 0 28px;
    font-weight: 400;
    cursor: pointer;
  }
}
.radio-has-icon {
  &:first-child {
    margin: 0;
  }
  label {
    margin: 0 0 0 4px;
    vertical-align: middle;
  }
  input[type='radio'] {
    left: auto;
    right: 0;
  }
}
.c-select-wrap {
  position: relative;
  background: #fff;
  .c-icon-arrow-bottom {
    position: absolute;
    right: 16px;
    top: 50%;
    z-index: 2;
    color: #888;
    font-size: 8px;
    transform: translate(0, -50%);
  }
}
.c-select-default {
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: 0;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
  &:disabled {
    background: #f5f5f5;
  }
  &.has-error {
    border-color: #ea352d;
  }
  &:focus {
    border-color: #0099e8;
  }
}
.c-select-wrap-birthday {
  display: block;

  @include media-pc {
    display: inline-block;
  }
  .c-select-wrap {
    display: inline-block;
    width: 200px;

    @include media-pc {
      width: 140px;
    }
    + span {
      margin: 0 8px;
    }
  }
}
.c-form_require, .p-item_message_seller, .c-form_arbitrary {
  background: #ea352d;
  margin: 0 0 0 8px;
  padding: 2px 4px;
  border-radius: 2px;
  color: #fff;
  font-size: 12px;
  vertical-align: top;
}
.c-form_arbitrary {
  background: #ccc;
}
.c-form_question {
  display: inline-block;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #0099e8;
  color: #fff;
  line-height: 14px;
  font-size: 12px;
  text-align: center;
}
.c-has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
  li {
    margin: 8px 0 0;
  }
  + label {
    margin: 24px 0 0;
  }
}
/* item */
.c-items-box {
  position: relative;
  float: left;
  width: 48%;
  margin: 0 0 4% 4%;
  background: #fff;

  @include media-pc {
    width: 124px;
    margin: 0 0 20px 20px;
  }
  @include media-pcL {
    width: 188px;
  }

  &:nth-child(odd) {
    margin: 0 0 4%;

    @include media-pc {
      margin: 0 0 20px 20px;
    }
  }
  &:nth-child(5n+1) {
    @include media-pc {
      margin-left: 0;
    }
  }
  &:nth-child(5n) {
    @include media-pc {
      margin-right: 0;
    }
  }
  a {
    display: block;
    color: #333;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  .p-search_container & {
    width: calc(50% - 10px);
    margin: 0 0 20px;

    @include media-pc {
      width: 160px;
      margin: 0 0 20px 20px;
    }
    &:nth-child(even) {
      margin-left: 20px;
    }
    @include media-pc {
      &:nth-child(odd) {
        margin: 0 0 20px 20px;
      }
      &:nth-child(4n+1) {
        margin-left: 0;
      }
      &:nth-child(4n) {
        margin-right: 0;
      }
    }
  }
}
.c-items-box_head {
  font-size: 22px;
  margin: 24px 4% 8px;
  line-height: 1.4;

  @include media-pc {
    margin: 24px 0 8px;
  }
}
.c-items-box_content {
  width: 92%;
  margin: 0 auto;

  @include media-pc {
    width: auto;
  }
}
.c-item_sold-out-badge {
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 65px 65px 0 0;
    border-color: #ea352d transparent transparent transparent;

    @include media-pc {
      border-width: 100px 100px 0 0;
    }
  }
  > div {
    position: absolute;
    left: 0;
    z-index: 2;
    color: #fff;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    top: 14px;
    font-size: 16px;

    @include media-pc {
      top: 20px;
      font-size: 26px;
    }
  }
}
.item-stop-badge {
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 120px 120px 0 0;
    border-color: #888 transparent transparent transparent;
  }
  > div {
    position: absolute;
    left: 0;
    z-index: 2;
    color: #fff;
    transform: rotate(-45deg);
    letter-spacing: 2px;
    font-weight: 600;
    top: 34px;
    left: -5px;
    font-size: 18px;

    @include media-pc {
      top: 20px;
      font-size: 26px;
    }
  }
}
.c-items-box_photo {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  .p-search_container &,
  .category-brand-list & {
    width: 100%;
    height: auto;
  }
  .p-search_container & {
    @include media-pc {
      width: 160px;
      height: 160px;
    }
  }
  .category-brand-list & {
    @include media-pc {
      width: 124px;
      height: 124px;
    }
    @include media-pcL {
      width: 188px;
      height: 188px;
    }
  }
}
.c-items-box_body {
  padding: 16px;
  height: 110px;
}
.c-items-box_name {
  overflow: hidden;
  position: relative;
  font-weight: 400;
  height: 3em;
  line-height: 1.5;
  word-break: break-word;
  white-space: normal;
  &:after {
    display: block;
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 1.5em;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff 72%);
  }
}
.c-items-box_num {
  margin: 8px 0 0;
}
.c-items-box_price {
  float: left;

  @include media-pc {
    font-size: 16px;
  }
  @include media-pcL {
    font-size: 20px;
  }
}
.c-item-box_tax {
  font-size: 10px;
  clear: both;
}
.c-items-box_likes {
  float: right;
  i {
    margin: 0 4px 0 0;
    vertical-align: middle;
  }
  span {
    display: inline-block;
    margin: 1px 0 0;
    vertical-align: middle;
  }
}
.c-items-box_overflow {
  overflow: hidden;
  .c-items-box_content {
    width: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 10px;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
    font-size: 0;

    @include media-pc {
      padding: 0;
    }
  }
  .c-items-box {
    float: none;
    display: inline-block;
    width: 55%;
    max-width: 220px;
    margin: 0 5px;
    vertical-align: top;

    @include media-pc {
      float: left;
      display: block;
      width: 220px;
      margin: 0 0 20px 20px;
      vertical-align: inherit;
      img {
        width: 220px;
      }
      &:nth-child(odd) {
        margin: 0;
      }
      &:nth-child(2n+1) {
        margin: 0 0 20px 20px;
      }
      &:nth-child(3n+1) {
        margin: 0 0 20px;
      }
    }
  }
}
.c-items-in-user-profile {
  @include media-pc {
    width: 700px;
    margin: 0px auto;
  }
  .c-items-box_overflow:last-of-type {
    margin-bottom: 40px;
  }
}
/* sns btn area */
.c-item_social-media-box {
  margin: 24px 0 0;
  background: #fff;
  padding: 16px 0 8px;

  @include media-pc {
    margin: 24px auto 30px;
    padding: 32px 0 24px;
    width: 700px;
  }
}
.c-social-media-box {
  margin: 16px 0 0;
  text-align: center;
  font-size: 0;
  li {
    display: inline-block;
    margin: 0 8px 8px 0;
    vertical-align: middle;
    text-align: center;
    &:last-child {
      margin: 0 0 8px;
    }
    a {
      display: block;
    }
  }
  i {
    width: 44px;
    height: 44px;
    border-radius: 4px;
    line-height: 44px;
  }
  .social-hidden-item {
    @include media-pcL {
      display: none;
    }
  }
}
/* modal */
.c-modal {
  animation: is-fade-in-down .3s ease-out 0s forwards;
}
.c-modal_inner {
  position: relative;
  overflow: hidden;
  margin: 8px auto;
  background: #fff;

  .c-icon-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.64);
    text-align: center;
    line-height: 44px;
    color: #fff;
    cursor: pointer;
  }
}
.c-modal_head {
  font-size: 16px;
}
.c-modal_body {
  padding: 32px 2.5%;
  line-height: 1.5;

  @include media-pc {
    padding: 64px;
  }
}
.c-modal_btn {
  border-top: 1px solid #ccc;
  width: 50%;
  text-align: center;
  line-height: 49px;

  @include media-pc {
    line-height: 63px;
    cursor: pointer;
  }
}
.c-modal_btn-cancel {
  float: left;
}
.c-modal_btn-submit {
  float: right;
  border-left: 1px solid #ccc;
  color: #0099e8;
}
.c-modal_btn-yes {
  border-top: 1px solid #ccc;
  width: 100%;
  text-align: center;
  line-height: 49px;

  @include media-pc {
    line-height: 63px;
    cursor: pointer;
  }
}
.c-modal_banner {
  text-align: center;
  h2 {
    font-size: 22px;
    line-height: 1;
    color: #ea352d;

    @include media-pc {
      font-size: 34px;
    }
  }
  p {
    margin: 16px 0 0;
    font-size: 13px;

    @include media-pc {
      font-size: 18px;
    }
  }
}
/* accordion */
.c-accordion {
  &_toggle {
    cursor: pointer;
    .c-icon-plus {
      position: absolute;
      top: 50%;
      right: 20px;
      -webkit-transform: translate(0, -50%);
      transform: translate(0, -50%);
      color: #aaa;
      font-size: 14px;
    }
  }
  &_icon {
    transition: .4s;
    transform-origin: center center;
    &.is-active {
      transform: rotate(-180deg) scale(1.4);
    }
  }
  &_child {
    display: none;
  }
}
.p-search_category-child {
  + .c-icon-arrow-right {
    position: absolute;
    top: 50%;
    right: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    color: #aaa;
    font-size: 14px;
  }
}

/* item list */
.c-mypage_item-list {
  li {
    position: relative;
    border-bottom: 1px solid #eee;
    &:last-child {
      border: 0;
    }
    &:first-child {
      border-bottom: 1px solid #eee;
    }
    &.p-mypage_item-not-found {
      border: 0;
    }
  }
  a:hover {
    background: #fafafa;
    opacity: 1;
    text-decoration: none;
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    &.is-higher-height {
      top: 50%;
      transform: translate(0, -50%);
    }
    &.is-higher-width {
      width: auto;
      left: 50%;
      right: auto;
      height: 100%;
      transform: translate(-50%, 0);
    }
  }
}
.c-profile-head {
  padding: 12px 4%;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  font-size: 18px;

  @include media-pc {
    font-size: 24px;
    padding: 8px 24px;
  }
}
.js-tip_btn {
  cursor: pointer;
}
/* navi */
.c-parts-nav {
    margin: 0 4%;

    @include media-pc {
      margin: 0;
    }

    li {
      float: left;
      margin: 16px 16px 0 0;
    }
}
.alert-text {
  color: #ea352d;
  line-height: 50px ;
  font-size: 16px;
  text-align: center;
  background-color:#F0FFF0;
}
