/*
 layout
*/
/* float */
.l-flLeft { float: left; }
.l-flRight { float: right; }

/* clearfix */
.l-clearfix:after {
  content: '';
  display: block;
  clear: both;
}

/* visible */
.l-visiblePc {
  @include media-sp {
    display: none !important;
  }
}
.l-visibleSp {
  @include media-pc {
    display: none !important;
  }
}
.hidden-large {
  @include media-pcL {
    display: none !important;
  }
}
.l-visible-large {
  display: none;

  @include media-pcL {
    display: block;
  }
}
/* header */
.l-headerSp {
  position: relative;
  z-index: 1000;
  height: 100px;
  background: #fff;
  .logo {
    float: left;
    width: 120px;
    height: 32px;
    opacity: 1;
    padding-top: 3px;
    transform: scale(1);
    transition: all ease-out 0.3s;

    @include media-spS {
      padding-top: 1px;
      width: 135px;
    }

    &.is-focus {
      position: relative;
      z-index: 1;
      background: #fff;
      opacity: 0;
      transform: scale(0.8);
    }
    a {
      display: block;
      color: #333;
    }
    img {
      width: 120px;
      height: 32px;

      @include media-spS {
        width: 148px;
        height: 40px;
      }
    }
  }
  &.is-has-search_nav {
    height: 140px;
  }
}
.l-headerSp_inner {
  position: relative;
  padding: 6px 10px 0;

  @include media-spS {
    padding: 6px 16px 0;
  }
}
.l-header_btn {
  display: inline-block;
  padding: 0 6px;
  border-radius: 4px;
  text-align: center;
  line-height: 26px;

  @include media-spS {
    padding: 0 10px;
    line-height: 30px;
  }
}
.l-header_btn-signup {
  border: 1px solid #0099e8;
  background: #fff;
  color: #0099e8;
  &:hover {
    background: #0099e8;
    color: #fff;
  }
}
.l-headerSp_user-nav {
  float: right;
  margin: 4px 0 0;
}
.l-headerSp_user-icon {
  display: block;
  color: #333;
  font-size: 0;
  opacity: 1;
  transform: scale(1);
  transition: all ease-out 0.3s;
  &.is-focus {
    transform: scale(0.8);
    opacity: 0;
  }
  figure {
    display: inline-block;
    position: relative;
    width: 32px;
    height: 32px;
    margin: 0 auto;
    vertical-align: middle;
    > div {
      overflow: hidden;
      border-radius: 50%;
    }
  }
  figcaption {
    position: absolute;
    top: -8px;
    right: -8px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #ea352d;
    text-align: center;
    line-height: 20px;
    font-size: 12px;
    color: #fff;
  }
}
.l-search_bar {
  height: 44px;
  margin-top: 8px;
  position: relative;
  .l-headerSp_search {
    background: #eee;
    border: 1px solid transparent;
    border-radius: 2px;
    box-sizing: border-box;
    height: 38px;
    margin: 0 10px;
    padding: 0 10px;
    margin-top: 2px;
    transition: border-color ease-out 0.3s;
    width: calc(100% - 20px);
    &:focus {
      border-color: #0099e8;
    }
  }
  .c-icon-search {
    height: 36px;
    line-height: 38px;
    position: absolute;
    right: 10px;
    text-align: center;
    top: 2px;
    width: 36px;
    z-index: 1;
  }
}
.l-headerSp_nav {
  position: relative;
  overflow: hidden;
  height: 44px;
  line-height: 42px;
  -webkit-overflow-scrolling: touch;
  background: #fff;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 44px;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }
  a {
    display: block;
    color: #333;
    padding: 0 16px;
  }
  &.l-search-links {
    white-space: nowrap;
    a {
      display: inline-block;
      padding: 0;
      position: relative;
      text-align: center;
      width: 50%;
      &:first-child::after {
        background: #eee;
        content: '';
        display: block;
        height: 34px;
        position: absolute;
        top: 4px;
        right: 0;
        width: 1px;
      }
    }
    &::after {
      display: none;
    }
  }
}

.l-headerPc {
  position: relative;
  z-index: 1001;
  background: #fff;
  h1 a {
    display: block;
    color: #333;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
}
.l-headerPc_inner {
  width: 700px;
  margin: 0 auto;
  padding: 8px 0 0;

  @include media-pcL {
    width: 1020px;
  }
}
.l-headerPc_form {
  position: relative;
  width: calc(100% - (134px + 16px));
  .c-input-default {
    width: 100%;
    height: 36px;
    padding: 9px 32px 9px 8px;
    background: #fafafa;
    transition: all ease-out 0.3s;
    &:focus {
      border: 1px solid #0099e8;
    }
  }
  &_button {
    position: absolute;
    top: 0;
    right: 0;
    width: 36px;
    line-height: 36px;
    cursor: pointer;
    text-align: center;
  }
}
.l-headerPc_nav-box {
  margin: 8px 0 0;
}
.l-headerPc_nav-root {
  position: relative;
  height: 38px;
  line-height: 32px;
  &:hover {
    color: #0099e8;
  }
}
.l-headerPc_nav-count {
  position: absolute;
  top: -2px;
  left: 6px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #ea352d;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
  color: #fff;
}
.l-headerPc_nav {
  font-size: 0;
  > li {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    &:first-child {
      padding: 0;
    }
    &.hover .l-headerPc_nav-parent, &:hover .l-headerPc_nav-parent {
      display: block;
    }
  }
  h2 {
    font-size: 14px;
    font-weight: 400;
  }
  a {
    display: block;
    color: #333;
    &:hover {
      opacity: 1;
      text-decoration: none;
    }
  }
  .c-icon-arrow-bottom {
    margin: 0 0 0 8px;
    font-size: 7px;
  }
}
.l-headerPc_nav-parent-wrap {
  position: absolute;
  top: 38px;
  left: -34px;
  z-index: 1000;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);

  @include media-pcL {
    left: 0;
  }

  a {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 14px;
  }
}
.l-headerPc_nav-parent {
  display: none;
  width: 224px;
  &.is-active > ul .l-headerPc_nav-child, &.hover > ul .l-headerPc_nav-child, &:hover > ul .l-headerPc_nav-child {
    display: block;
  }
  h3 {
    font-weight: 400;
    font-size: 14px;
    a {
      padding: 0 16px;
      line-height: 44px;
      &.is-active, &:hover {
        background: #ea352d;
        color: #fff;
      }
    }
  }
}
.l-headerPc_nav-child-wrap {
  position: absolute;
  top: 0;
  left: 224px;
  bottom: 0;
  background: #fff;
  box-shadow: 1px 0 0 0 #eee inset;
}
.l-headerPc_nav-child {
  display: none;
  width: 224px;
  &.hover > ul .l-headerPc_nav-grand-child, &:hover > ul .l-headerPc_nav-grand-child {
    display: block;
  }
  > a {
    padding: 8px 16px;
    &.is-active, &:hover {
      background: #eee;
    }
  }
}
.l-headerPc_nav-grand-child-wrap {
  position: absolute;
  top: 0;
  left: 224px;
  bottom: 0;
  background: #fff;
  box-shadow: 1px 0 0 0 #eee inset;
}
.l-headerPc_nav-grand-child {
  display: none;
  width: 320px;
  > a {
    padding: 8px 16px;
    &.is-active, &:hover {
      background: #eee;
    }
  }
}
.l-headerPc.l-login_nav {
  > li {
    display: inline-block;
    margin: 0 0 0 8px;
    &:first-child {
      margin: 0;
    }
  }
  a:hover {
    opacity: 1;
    text-decoration: none;
    transition: all ease-out 0.3s;
  }
  .l-headerSp_btn {
    margin: 0;
  }
  .is-red {
    display: block;
  }
}
.header-signup {
  display: block;
  border: 1px solid #0099e8;
  background: #fff;
  color: #0099e8;
  &:hover {
    background: #0099e8;
    color: #fff;
  }
}
.l-headerPc_user-nav {
  font-size: 0;
  > li {
    position: relative;
    display: inline-block;
    padding: 0 0 0 16px;
    vertical-align: middle;
    &:first-child {
      padding: 0;
    }
    &:hover .l-headerPc_user-box {
      display: block;
    }
    > a {
      &:hover {
        text-decoration: none;
        opacity: 1;
      }
      span {
        margin: 0 0 0 8px;
      }
    }
  }
  .l-headerSp_user-icon {
    margin: 0;
    figure {
      line-height: 0;
    }
    figcaption {
      top: -6px;
      right: -6px;
    }
    > div {
      display: inline-block;
      margin: 0 0 0 8px;
      font-size: 14px;
      vertical-align: middle;
    }
  }
  a {
    display: block;
    font-size: 14px;
    color: #333;
  }
  i, span {
    vertical-align: middle;
  }
  .c-icon-bell {
    font-size: 17px;
  }
  .c-icon-check {
    font-size: 16px;
  }
}
.l-headerPc_user-box {
  position: absolute;
  top: 38px;
  z-index: 1;
  display: none;
  width: 320px;
  background: #fff;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.24);
  font-size: 14px;
  .loading-black {
    height: 80px;
    background-position: center;
  }
}
.l-headerPc_p-mypage_box {
  left: 0;
  .p-mypage_nav_list li:first-child {
    border-top: 1px solid #eee;
  }
}
.l-headerPc_p-mypage_state {
  figure {
    padding: 28px 0 0;
    height: 80px;
    background: image-url("mypage/user-bg.jpg");
    background-repeat: no-repeat;
    background-size: 320px 80px;
    > div {
      overflow: hidden;
      width: 60px;
      height: 60px;
      margin: 0 auto;
      border-radius: 50%;
      box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.08);
    }
  }
  figcaption {
    margin: 8px 0 0;
    padding: 0 8px;
    font-size: 16px;
  }
}
.l-headerPc_p-mypage_review-listing {
  margin: 40px 0 0;
  padding: 8px 8px 0;
  font-size: 0;
  text-align: center;
  li {
    display: inline-block;
    margin: 0 0 0 16px;
    font-size: 14px;
    &:first-child {
      margin: 0;
    }
  }
  a:hover {
    text-decoration: underline;
  }
}
.l-headerPc_p-mypage_sales-point {
  width: 300px;
  margin: 16px auto;
  background: #fafafa;
  border: 1px solid #eee;
  li {
    border-top: 1px solid #eee;
    &:first-child {
      border: 0;
    }
  }
  a {
    padding: 0 8px;
    line-height: 40px;
  }
  .c-icon-arrow-right {
    position: relative;
    top: -2px;
    font-size: 12px;
    margin: 0 0 0 8px;
    color: #ccc;
  }
}
.l-headerPc_notification-box {
  left: 50%;
  transform: translate(-50%, 0);
}
.l-headerPc_todo-box {
  right: 0;
}
.l-headerPc_user-error {
  padding: 24px;
}
.l-single_header {
  text-align: center;

  @include media-pc {
    height: 128px;
  }
  h1 {
    display: inline-block;
    margin: 11px 0 12px;

    @include media-pc {
      margin: 40px 0 0;
    }
  }
  a {
    display: inline-block;
    width: 120px;
    height: 33px;
    margin: 0 8px 0 0;
    line-height: 33px;

    @include media-pc {
      width: 185px;
      height: 49px;
      line-height: 49px;
    }
  }
  img {
    width: 120px;
    height: 33px;

    @include media-pc {
      width: 185px;
      height: 49px;
    }
  }
}
.l-single_wrapper {
  padding: 0 0 250px;

  @include media-pc {
    padding: 0 0 220px;
  }
}

/* container */
.l-container, .l-bottom-container {
  margin: 24px auto 0;
  padding: 0 0 40px;
}
.l-container {
  @include media-pc {
    width: 700px;
  }
  @include media-pcL {
    margin: 40px auto 0;
    width: 1020px;
  }
}
.l-bottom-container {
  @include media-pc {
    width: 700px;
  }
  @include media-pcL {
    margin: 40px auto;
    width: 1020px;
  }
}
.l-center {
  margin: 0 auto;
}
.l-content {
  width: 100%;

  @include media-pc {
    float: none;
    width: 700px;
  }
  @include media-pcL {
    float: right;
  }

  &.full-width {
    width: 100%;
  }
}
.l-single_container {
  background: #fff;

  @include media-pc {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
  }
}
.l-single_inner {
  border-top: 1px solid #f5f5f5;
  padding: 40px;

  @include media-pc {
    padding: 64px;
  }

  .is-red {
    margin: 40px 0 0;
    &:first-child {
      margin: 0;
    }
  }
  .is-gray {
    margin: 16px 0 0;
  }
  p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
}
.l-single_content {
  max-width: 320px;
  margin: 0 auto;
  p {
    margin: 8px 0 0;
    line-height: 1.5;
    &.l-single_text {
      margin: 8px 0 0;
      padding: 0;
    }
    &:first-child {
      margin: 0;
      padding: 0;
    }
  }
  &.logout {
    padding: 40px 0;
  }
}
.l-single_head {
  padding: 24px 8px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;

  @include media-pc {
    padding: 32px 16px;
    font-size: 22px;
  }
}
.l-chapter-container {
  margin: 40px 0 0;
  background: #fff;
  &:first-child {
    margin: 0;
  }
}
.l-chapter-head {
  padding: 12px 4%;
  border-bottom: 1px solid #f5f5f5;
  text-align: center;
  font-size: 18px;

  @include media-pc {
    font-size: 24px;
    padding: 8px 24px;
  }
}
.l-chapter-sub-head {
  font-size: 14px;

  @include media-pc {
    font-size: 16px;
  }
}
/* side */
.l-side {
  margin: 40px auto 0;

  @include media-pc {
    width: 700px;
  }
  @include media-pcL {
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    * + .l-visible-large {
      margin: 40px 0 0;
    }
  }
}
.l-side-container {
  @include media-pc {
    margin: 40px 0 0;
  }
  &:first-of-type {
    @include media-pcL {
      margin: 0;
    }
  }
}
/* footer */
.l-footer {
  padding: 40px 20px;
  background: #212121;
  color: #fff;

  @include media-pc {
    padding: 60px 0;
    text-align: center;
  }

  li {
    color: #333;
  }
  a {
    color: #fff;
  }
  nav {
    @include media-pc {
      width: 700px;
      margin: 0 auto;
    }
    @include media-pcL {
      width: 1020px;
    }
  }
}
.l-footer_downloadApp {
  text-align: center;

  @include media-pc {
    display: none;
  }

  a {
    display: block;
  }
  img {
    margin: 0 8px 0 0;
  }
}
.l-footer_title {
  color: #fff;
  font-size: 16px;
}
.l-footer_col {
  margin: 40px auto 0;

  @include media-pc {
      display: inline-block;
      width: 23%;
      margin: 0 2% 0 0;
      vertical-align: top;
      &:last-child {
        margin: 0;
      }
  }

  li {
    margin: 16px 0 0;
    &:first-child {
      margin: 24px 0 0;
    }
  }
  a {
    display: block;
  }
  &.mobile {
    a {
      display: inline-block;
      opacity: 1;
    }
    li {
      color: #fff;
      &:first-child {
        margin: 16px 0 0;
      }
    }
  }
}
.l-footer_navLang {
  img {
    margin: 0 8px 0 0;
  }
  a {
    margin: 0 auto;
    opacity: 0.3;

    @include media-pc {
      width: auto;
    }

    &.is-active {
      opacity: 1;
    }
  }
}
.l-footer_logo {
  display: block;
  margin: 40px 0 0;
  text-align: center;
}
.l-footer_copyright {
  margin: 8px 0 0;
  text-align: center;
  small {
    font-size: 14px;
  }
}
.l-footer_sellBtn {
  position: fixed;
  bottom: -14px;
  right: -14px;
  z-index: 1000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;

  @include media-pc {
    bottom: 32px;
    right: 32px;
    width: 160px;
    height: 160px;
    font-size: 22px;
  }

  div {
    margin: 14px 0 0;

    @include media-pc {
      margin: 32px 0 0;
    }
  }
  &:hover {
    opacity: 1;
    text-decoration: none;
  }
  .c-icon-camera {
    margin: 4px 0 0;
    font-size: 24px;

    @include media-pc {
      margin: 8px 0 0;
      font-size: 54px;
    }
  }
}
.l-footer-s {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  height: 250px;
  padding: 40px 0;
  text-align: center;

  @include media-pc {
    width: 456px;
    height: 220px;
    margin: 0 auto;
  }

  ul {
    font-size: 0;
  }
  li {
    margin: 16px 0 0;
    font-size: 12px;

    @include media-pc {
      display: inline-block;
      margin: 0 0 0 16px;
    }

    &:first-child {
      margin: 0;
    }
  }
  a {
    display: block;
    color: #333;
  }
  p {
    margin: 8px 0 0;
  }
  small {
    font-size: 12px;
  }
}
.l-footer-s_logo {
  width: 80px;
  height: 65px;
  margin: 40px auto 0;
}
.l-app-banner {
  background: #fff;

  @include media-pc {
    background: image-url("common/jp/top/download_bg_pc.jpg");
    background-position: center;
  }
}
.l-app-banner-pc {
  overflow: hidden;
  position: relative;
  display: none;
  width: 750px;
  height: 260px;
  margin: 0 auto;
  color: #fff;

  @include media-pc {
    display: block;
  }

  h2 {
    margin: 0;
    font-size: 16px;

    @include media-pcL {
      font-size: 24px;
    }
  }
  p {
    margin: 10px 0 0;
    font-size: 24px;

    @include media-pcL {
      font-size: 35px;
    }
  }
  h2, p {
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
  }
  > figure {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100%;
    img {
      width: 100%;
    }
  }
}
.l-app-banner-pc-inner {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translate(0, -50%);

  @include media-pcL {
    left: 0;
  }
}
.l-app-banner-icon {
  margin: 20px 0 0;
  figure {
    float: left;
  }
  ul {
    float: left;
    margin: 0 0 0 24px;
    line-height: 68px;
  }
  li {
    float: left;
    &:last-child {
      margin: 0 0 0 16px;
    }
  }
  a {
    display: block;
    line-height: 68px;
  }
  img {
    vertical-align: middle;
  }
}
/* breadcrumbs */
.l-breadCrumbs {
  position: relative;
  border-top: 1px solid #eee;
  box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.16);
  background: #fff;
  &:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 24px;
    height: 100%;
    background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
  }
  ul {
    padding: 17px 16px 16px;
    font-size: 0;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;

    @include media-pc {
      overflow: visible;
      width: 700px;
      margin: 0 auto;
      padding: 17px 0 16px;
    }
    @include media-pcL {
      width: 1020px;
    }
  }
  li {
    display: inline-block;
    font-size: 14px;
    line-height: 1.2;

    @include media-pc {
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:last-child {
      font-weight: 600;
    }
  }
  a {
    color: #333;
  }
  .c-icon-arrow-right {
    margin: 0 8px;
    font-size: 9px;
    color: #888;
  }
  .l-breadCrumbs-overflow {
    @include media-pc {
      overflow: hidden;
      max-width: 88%;
      text-overflow: ellipsis;
      white-space: nowrap;
      vertical-align: top;

      @include media-pcL {
        max-width: 90%;
      }
    }
  }
}
/* progress */
.l-progressBar {
  font-size: 0;
  text-align: center;
  @include media-pc {
    display: inline-block;
    vertical-align: top;
  }
  ol {
    margin: 0;
  }
  li {
    position: relative;
    z-index: 1;
    display: inline-block;
    min-width: 40px;
    margin: 0 5% 0 0;
    font-size: 12px;
    color: #888;

    @include media-pc {
        min-width: 60px;
        margin: 0 40px 0 0;
      }

    &:first-child .l-progressBar_status:before {
      display: none;
    }
    &:last-child {
      margin: 0;
      .l-progressBar_status:after {
        display: none;
      }
    }
    &.is-active {
      font-weight: 600;
      color: #ea352d;
      .l-progressBar_status {
        background: #ea352d;
        &:before {
          background: #ea352d;
        }
      }
    }
    &.through .l-progressBar_status {
      background: #ea352d;
      &:after, &:before {
        background: #ea352d;
      }
    }
  }
}
.l-progressBar_status {
  width: 12px;
  height: 12px;
  margin: 8px auto 0;
  background: #ccc;
  border-radius: 50%;
  &.no-cicle {
    width: 0;
    border-radius: 0;
    background: #ccc;
  }
  &:after {
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #ccc;
  }
  &:before {
    position: absolute;
    bottom: 5px;
    z-index: -1;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #ccc;
    right: 50%;
  }
  &:after {
    left: 50%;
  }
}
.l-pager {
  position: relative;
  font-size: 0;
  text-align: center;

  @include media-pc{
    margin: 40px 0 0;
  }

  &_num {
    max-width: 220px;
    margin: 0 auto;
  }
  &_cell {
    display: inline-block;
    width: 44px;
    height: 44px;
    border-radius: 4px;
    background: #fff;
    border: 1px solid #ccc;
    font-size: 14px;
    line-height: 42px;

    a{
      display: block;
      color: #333;

      &:hover{
        background:#f5f5f5;
        text-decoration: none;
      }
    }

    &.is-active {
      color: #fff;
      background: #ea352d;
    }
  }
  &_next, &_prev {
    position: absolute;
    top: 0;
  }
  &_next {
    right: 0;
  }
  &_prev {
    left: 0;
  }
}
  .credit_delete_btn {
  border: 1px solid red;
  background: #fff;
  color: red;
  padding:2px 6px;
  border-radius: 4px;
  position:relative;
    bottom:28px;
    right:10px;
  float:right;
  &:hover {
    background: red;
    color: white;
  }
}
.credit_brand_image {
  width: 34px ;
  height: 34px ;
}
