
.p-search_category {

  @include media-pc {
    width: 700px;
    margin: 0 auto;
    padding: 40px 0;
  }

  @include media-pcL {
    width: 1020px;
  }

  > div {
    padding: 0 10px;
    line-height: 30px;

    @include media-pc {
      padding: 0;
    }
  }
  h2 {
    float: left;
    + a {
      float: right;
      width: auto;
      border: 0;
      color: #ea352d;
      .c-icon-arrow-right {
        font-size: 10px;
      }
    }
  }
  nav {
    margin: 14px 0 0;
  }
  li {
    position: relative;
    background: #fff;

    @include media-pc {
      background: none;
    }
    &.c-accordion {
      @include media-pc {
        position: relative;
        float: left;
        width: 23%;
        margin: 32px 2% 0 0;
        &:nth-child(4n) {
          margin: 32px 0 0;
        }
        &:nth-child(4n+1) {
          clear: both;
        }
      }
      .c-accordion {
        @include media-pc {
          float: none;
          width: auto;
          margin: 0;
          &:nth-child(4n) {
            margin: 0;
          }
        }
      }
    }
  }
  h3 {
    position: relative;
    font-size: 20px;
    font-weight: 400;
    border-bottom: solid 1px #eee;

    @include media-pc {
      margin: 0 0 16px;
      font-size: 16px;
      font-weight: 600;
      border: 0;
      pointer-events: none;
    }

    > div {
      overflow: hidden;
      width: 83%;
      height: 46px;
      line-height: 46px;
      margin: 0 0 0 15px;
      padding: 0 0 0 50px;
      text-overflow: ellipsis;
      white-space: nowrap;

      @include media-pc {
        width: auto;
        margin: 0;
        padding: 0;
        height: auto;
        line-height: 1.5;
      }
    }
    &[class^="category-thumb"]:before {
      position: absolute;
      top: 50%;
      left: 15px;
      display: block;
      content: '';
      width: 35px;
      height: 35px;
      background-size: 35px 35px;
      transform: translate(0, -50%);

      @include media-pc {
        display: none;
      }
    }
    &.category-thumb1:before { background-image: image-url("common/category/category_thumb1.png"); }
    &.category-thumb2:before { background-image: image-url("common/category/category_thumb2.png"); }
    &.category-thumb3:before { background-image: image-url("common/category/category_thumb3.png"); }
    &.category-thumb4:before { background-image: image-url("common/category/category_thumb4.png"); }
    &.category-thumb5:before { background-image: image-url("common/category/category_thumb5.png"); }
    &.category-thumb6:before { background-image: image-url("common/category/category_thumb6.png"); }
    &.category-thumb7:before { background-image: image-url("common/category/category_thumb7.png"); }
    &.category-thumb8:before { background-image: image-url("common/category/category_thumb8.png"); }
    &.category-thumb9:before { background-image: image-url("common/category/category_thumb9.png"); }
    &.category-thumb10:before { background-image: image-url("common/category/category_thumb10.png"); }
    &.category-thumb1027:before { background-image: image-url("common/category/category_thumb1027.png"); }
    &.category-thumb1318:before { background-image: image-url("common/category/category_thumb1318.png"); }
  }
  a {
    display: block;
    border-bottom: solid 1px #eee;

    @include media-pc {
      border: 0;
    }

    &.c-accordion_toggle {
      color: #333;

      @include media-pc {
        color: #0099e8;
      }
    }
  }
  .c-accordion_child {
    display: none;

    @include media-pc {
      display: block;
    }
  }
  ul.c-accordion_child {
    @include media-pc {
      overflow: auto;
      height: 11em;
      &:after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 1;
        display: block;
        content: '';
        height: 2em;
        background: linear-gradient(rgba(245, 245, 245, 0), #f5f5f5);
      }
      li {
        &:first-child .p-search_category-child {
          margin: 0;
        }
        &:last-child {
          padding: 0 0 1em;
        }
      }
    }
  }
  .p-search_category-subparent {
    @include media-pc {
      display: none;
    }
  }
}
.p-search_category-child {
  overflow: hidden;
  width: 70.3125%;
  margin: 0 0 0 50px;
  padding: 0 0 0 15px;
  height: 46px;
  line-height: 46px;
  text-overflow: ellipsis;
  white-space: nowrap;

  @include media-pc {
    overflow: visible;
    width: auto;
    margin: 16px 0 0;
    padding: 0;
    border: 0;
    height: auto;
    line-height: 1.5;
    white-space: normal;
  }
}
.p-search_category-subchild {
  width: 81.25%;
  margin: 0 0 0 60px;
  padding: 0 14.0625% 0 15px;
  font-size: 14px;
}
.p-search_result-head {
  margin: 16px 4% 8px;
  font-weight: 400;

  @include media-pc {
    margin: 16px 0 8px;
  }

  @include media-pcL {
    margin: 0 0 8px;
  }
}
.p-search_result-description {
  margin: 16px 4% 0;
  font-size: 14px;
  line-height: 1.5;

  @include media-pc {
    margin: 16px 0 0;
  }
}
.p-search_nav {
  display: table;
  width: 100%;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;

  @include media-pc {
    border: 1px solid #ccc;
    background: #fff;
  }

  > div {
    display: table-cell;
    width: 50%;
    font-size: 12px;
    height: 72px;
    border-left: 1px solid #ccc;
    vertical-align: middle;
    text-align: center;
    &:active {
      box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.16) inset;
    }
    &:first-child {
      border-left: 0;
    }
    > div {
      margin: 8px 0 0;
    }
  }
  i {
    color: #aaa;
  }
  .c-icon-history {
    font-size: 18px;
  }
  .c-icon-sort {
    font-size: 14px;
  }
  .c-icon-.p-search_detail {
    font-size: 15px;
  }
}
.p-search_container {
  position: relative;
}
.p-search_extend-container {
  @include media-pcL {
    position: relative;
  }
}
.p-search_sort {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 50%;
  margin: 0 auto;

  @include media-pcL {
    opacity: 1;
    position: static;
    width: auto;
  }
  .c-select-wrap {
    margin: 0;
    background: 0;
    text-align: center;

    @include media-pcL {
      background: #fff;
      text-align: left;
    }
  }
  .c-select-default {
    height: 72px;
    padding: 0;
    border: 0;

    @include media-pcL {
      height: 48px;
      padding: 0 16px;
      border: 1px solid #ccc;
    }
  }
}
.p-search_dropdown-content {
  position: absolute;
  top: 72px;
  left: 0;
  right: 0;
  z-index: 10001;
  padding: 16px 5%;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.4);

  @include media-pc {
    padding: 64px;
  }
  @include media-pcL {
    &.p-search_save {
      top: 0;
      right: -400px;
      left: 280px;
      padding: 32px;
    }
    &.p-search_extend {
      position: static;
      display: block;
      box-shadow: none;
      padding: 16px;
    }
  }
  h3 {
    font-size: 16px;
    + .c-form_group {
      margin: 0;

      @include media-pcL {
        margin: 24px 0 0;
      }
    }
  }
}
.p-search_save-btn {
  cursor: pointer;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  span {
    font-size: 16px;
    vertical-align: middle;
  }
  .c-icon-history {
    margin: 0 8px 0 0;
    font-size: 18px;
    color: #888;
    vertical-align: middle;
  }
}
.p-search_save-content {
  margin: 32px 0 0;
  &:first-child {
    margin: 0;
  }
  h4 {
    float: left;
    font-size: 14px;
    + a {
      float: right;
    }
  }
}
.p-search_save-nav {
  margin: 8px 0 0;
  li {
    border-top: 1px solid #eee;
  }
  a {
    overflow: hidden;
    position: relative;
    display: block;
    color: #333;
  }
  .c-icon-arrow-right {
    position: absolute;
    top: 50%;
    right: -28px;
    transform: translate(0, -50%);
    font-size: 14px;
  }
  .c-checkbox-default {
    transform: translate(-28px, 0);
    transition: all ease-out 0.25s;
  }
  label {
    overflow: hidden;
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 40px;
  }
  &.edit {
    .c-checkbox-default {
      transform: translate(0, 0);
    }
    button {
      display: block;
    }
  }
  button {
    display: none;
    margin: 16px 0 0;
  }
}
.p-search_extend {
  @include media-pcL {
    margin: 40px 0 0;
  }
  .c-form_group {
    font-size: 0;
  }
  .c-checkbox-default {
    display: inline-block;
    width: 48%;
    vertical-align: middle;
    word-break: break-word;
    &:first-child {
      margin: 16px 0 0;
    }
    &:nth-child(even) {
      margin: 16px 0 0 4%;
    }
  }
  label {
    display: block;
  }
  i {
    position: relative;
    top: -1px;
    margin: 0 4px 0 0;
    color: #888;
    font-size: 16px;
    vertical-align: middle;
    + span {
      font-size: 14px;
      vertical-align: middle;
    }
  }
}
.p-search_extend-brand {
  position: relative;
  ul {
    overflow: auto;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 10;
    max-height: 280px;
    background: #fff;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.64);
    -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background: rgba(0, 0, 0, 0.64);
    }
  }
  li {
    padding: 16px 8px;
    font-size: 14px;

    @include media-pc {
      cursor: pointer;
    }

    &.current, &:hover {
      background: #0099e8;
      color: #fff;
    }
  }
}
.p-search_extend-btn {
  height: 90px;
  padding: 40px 0 0;
  &.is-fixed {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 20;
    max-width: 700px;
    margin: 0 auto;
    padding: 16px 5%;
    border-top: 1px solid #ccc;
    background: #fff;

    @include media-pcL {
      position: static;
      padding: 0;
      border: 0;
    }
  }
  .c-btn-default {
    width: 45%;
  }
  .is-red {
    float: right;
  }
  .is-gray {
    float: left;
  }
}
.p-search_price {
  .c-input-default {
    width: 45%;
  }
  > span {
    display: inline-block;
    width: 10%;
    font-size: 14px;
    text-align: center;
  }
}
.select-category-child, .select-category-grand-child {
  display: none;
}
.select-category-child.is-show, .select-category-grand-child.is-show {
  display: block;
}
