
.nav-item-link-prev-next, .nav-user-link-prev-next {
  margin: 24px 4% 0;

  @include media-pc {
    margin: 24px 0 0;
  }
}
.nav-item-link-prev-next li, .nav-user-link-prev-next li {
  position: relative;
  width: 43%;
  word-wrap: break-word;

  @include media-pc {
    width: 45%;
  }
}
.nav-item-link-prev-next {
  .icon-arrow-left, .icon-arrow-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.nav-user-link-prev-next {
  .icon-arrow-left, .icon-arrow-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.nav-item-link-prev, .nav-user-link-prev {
  float: left;
  padding: 0 0 0 14px;
}
.nav-item-link-prev .icon-arrow-left, .nav-user-link-prev .icon-arrow-left {
  left: 0;
}
.nav-item-link-next, .nav-user-link-next {
  float: right;
  padding: 0 14px 0 0;
  text-align: right;
}
.nav-item-link-next .icon-arrow-right, .nav-user-link-next .icon-arrow-right {
  right: 0;
}


.transact-create-qr-code .reception-number, .transact-number-display, .transact-phone-number-display, .transact-shipping-fee-display, .transact-wordings {
  padding: 16px 32px;
  text-align: center;
  line-height: 1.5;
}
.transact-create-qr-code table, .transact-shipping-table table {
  width: 88%;
  margin: 28px auto;
}
.transact-create-qr-code tr, .transact-shipping-table tr {
  border: 1px solid #ccc;
}
.transact-create-qr-code th, .transact-shipping-table th {
  width: 24%;
  padding: 8px;
  word-wrap: break-word;
  text-align: right;
  color: #888;
}
.transact-create-qr-code td, .transact-shipping-table td {
  width: 76%;
  padding: 16px;
  word-wrap: break-word;
  text-align: left;
  line-height: 1.5;
}
.transact-button {
  padding: 24px 32px;
  .after_second_child {
    margin-top: 24px;
  }
}
.transact-rakuraku-head {
  padding: 16px 32px;
  text-align: center;
  background: #aaa;
  color: #fff;
}
.transact-explain-shipping-method {
  padding: 16px 32px;
  h2 {
    text-align: center;
    + p {
      margin: 16px 0 0;
    }
  }
  p {
    margin: 8px 0 0;
  }
  ol {
    margin: 16px 0 0;
    line-height: 1.5;
    list-style-type: decimal;
    list-style-position: inside;
  }
}
.transact-create-qr-code {
  text-align: center;
  h2 {
    margin: 8px;
  }
  .transact-shipping-fee-list-default {
    display: block;
  }
  .transact-shipping-fee-list-child {
    display: none;
    &.is-show {
      display: block;
    }
  }
  img {
    width: 50%;
  }
  .reception-number {
    width: 80%;
    margin: 0 auto;
    text-align: left;
  }
}
.transact-shipping-fee-display {
  padding: 0 32px 16px;
}
.transact-pickup-attention {
  padding: 16px 32px;
  > div {
    background: #f8e5df;
    padding: 16px;
    line-height: 1.5;
  }
}
.transact-number-display {
  font-size: 24px;
  font-weight: 600;
}
.transact-phone-number-display {
  font-size: 40px;
  font-weight: 600;
}
.transact-check-box {
  width: 32%;
  margin: 0 34%;
}
.transact-select-alert {
  display: none;
  &.show {
    display: block;
  }
}
.transact-guide {
  padding: 16px;
  li {
    margin: 8px 0 0;
    &:first-child {
      margin: 0;
    }
  }
  i, span {
    vertical-align: middle;
  }
  i {
    margin: 0 0 0 8px;
  }
}
.transact-select-card li {
  padding: 24px 0;
  border-bottom: 1px solid #eee;
  label {
    display: block;
    position: relative;
  }
  input {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -moz-appearance: radio;
    -webkit-appearance: radio;
    -o-appearance: radio;
    -ms-appearance: radio;
    appearance: radio;
  }
}
.transact-select-card-footer {
  padding-top: 24px;
}
.transact-select-card-add {
  display: inline-block;
  i {
    margin-right: 8px;
  }
}

.transact-attention {
  position: relative;
  padding: 24px 8px;
  background: #fff6de;
  text-align: center;
  font-size: 0;
  h3 {
    font-size: 16px;
    color: #ea352d;
  }
  i {
    margin: 0 8px 0 0;
    font-size: 32px;
    color: #ea352d;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
  p {
    margin: 8px 0 0;
    font-size: 14px;
    line-height: 1.5;
  }
  .attention {
    color: #ea352d;
  }
  .strong {
    font-weight: bold;
  }
}
.transact-form-review {
  width: 280px;
  margin: 0 auto;
  padding: 40px 0;
  > p {
    margin: 32px 0 0;
    font-size: 14px;
  }
  textarea {
    width: 100%;
    max-width: 280px;
    margin: 8px 0 0;
  }
  .btn-red {
    margin: 8px 0 0;
  }
}
.transact-review-list {
  margin: 32px 0 0;
  li {
    position: relative;
    float: left;
    margin: 0 20px 0 0;
    &:last-child {
      margin: 0;
    }
  }
  input[type='radio'] {
    display: none;
    &:checked + .transact-review-icon {
      border-color: #ea352d;
    }
  }
}
.transact-review-icon {
  position: relative;
  width: 80px;
  height: 80px;
  border-radius: 4px;
  border: 1px solid #ccc;
  text-align: center;
  i {
    margin: 14px 0 0;
    font-size: 30px;
  }
  label {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 50px 0 0;
    cursor: pointer;
  }
}
.transact-info-head {
  padding: 40px 4% 0;
  font-size: 16px;

  @include media-pc {
    padding: 0;
  }
}
.transact-info-inner {
  margin: 8px 0 0;
  background: #fff;
}
.transact-info-table {
  display: table;
  width: 100%;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;

  @include media-pc {
    border: 1px solid #eee;
  }
  li {
    line-height: 1.5;
  }
  a {
    color: #333;
    &.font-blue {
      color: #0099e8;
    }
  }
}
.transact-info-table-row {
  display: table-row;
  &:nth-child(even) {
    background: #fafafa;
  }
}
.transact-info-table-cell {
  display: table-cell;
  padding: 16px;
  vertical-align: top;
  word-wrap: break-word;
  &:first-child {
    width: 35%;
  }
  &:last-child {
    width: 65%;
  }
  a {
    display: block;
  }
  img {
    width: 80px;
    &.is-higher-height {
      width: auto;
      max-height: 148px;
    }
  }
  .buyer-name {
    font-weight: 600;
  }
}
.transact-info-table-cell-li {
  color: #ea352d;
}
.transact-info-item {
  margin: 8px 0 0;
  color: #0099e8;
  text-decoration: underline;
  font-size: 16px;
  word-break: break-all;
}
.transaction-user-icon {
  position: relative;
  display: block;
  color: #333;
  figure {
    padding: 16px;
    font-size: 0;
    > div {
      overflow: hidden;
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      vertical-align: middle;
    }
  }
  img {
    width: 100%;
  }
  figcaption {
    overflow: hidden;
    display: inline-block;
    max-width: 75%;
    margin: 0 0 0 16px;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;

    @include media-pc {
      max-width: 592px;
      height: auto;
    }
    @include media-pcL {
      max-width: 160px;
    }
  }
  .icon-arrow-right {
    position: absolute;
    top: 50%;
    right: 16px;
    transform: translate(0, -50%);
  }
}
.transact-user-name {
  overflow: hidden;
  font-size: 16px;
  white-space: nowrap;
  text-overflow: ellipsis;

  @include media-pc {
    overflow: visible;
    text-overflow: inherit;
    white-space: normal;
  }

  &.transact-user-official {
    margin: 8px 0 0;
  }
}
.transact-shipping-soyo {
  padding: 16px 32px;
  h3 {
    color: #888;
    margin: 32px 0 8px;
  }
  .text-attention {
    color: #ea352d;
  }
}
.birthday-select-wrap {
  display: block;

  @include media-pc {
    display: inline-block;
  }
  .select-wrap {
    display: inline-block;
    width: 200px;

    @include media-pc {
      width: 140px;
    }
    + span {
      margin: 0 8px;
    }
  }
}
.big-padding {
  padding: 40px;
}
.template-download {
  padding: 10px 0 10px 10px;
}
.head-message {
  padding: 10px 0;
  line-height: 20px;
  font-size: 14px;
}
.csv-upload-drop-box {
  position: relative;
  min-height: 100px;
  border-radius: 10px;
  margin: 15px 0;
  background: #fafafa;
  border: 2px dashed #ccc;
  text-align: center;
  padding: 10px;

  @include media-pc {
    width: 620px;
    min-height: 140px;
    padding: 40px;
  }
  &.is-drag {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.64);
    border: 0;
  }
  &.is-dragover, &:hover {
    background-color: rgba(238, 238, 238, 0.5);
  }
  .box-msg {
    text-align: center;
    width: 100%;
    font-size: 14px;
  }
  .browse-button {
    font-size: 12px;
    border-radius: 20px;
    border: 2px solid #888;
    padding: 10px 15px;
    margin: 12px 10px;
    color: #888;
    background: #fff;
    display: inline-block;
    cursor: pointer;
    &:hover {
      background: #fafafa;
      opacity: 1;
    }
  }
  .box-title {
    font-size: 18px;
    font-weight: bold;
    color: #888;
  }
  .label-file-name {
    font-size: 12px;
    word-break: break-all;
  }
}
.error-msg {
  display: none;
  color: #ea352d;
}
.upload-button {
  font-size: 14px;
  border-radius: 20px;
  border: 2px solid #eee;
  color: #eee;
  padding: 10px 15px;
  margin: 10px 0 15px;
  display: inline-block;
}
.download-button {
  font-size: 14px;
  border-radius: 20px;
  padding: 10px 15px;
  margin: 25px auto 15px;
  border: 2px solid #0099e8;
  color: #0099e8;
  width: 50%;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
  a:hover {
    text-decoration: none;
  }
}
.extra-margin {
  margin-top: 15px;
}
.upload-active {
  border: 2px solid #0099e8;
  color: #0099e8;
  cursor: pointer;
  &:hover {
    opacity: 0.6;
  }
}
.upload-details, .upload-status, .upload-status-error {
  font-family: inherit;
  line-height: 20px;
}
.upload-status {
  font-size: 18px;
  font-weight: bold;
  color: #888;
  text-align: center;
  margin-top: 10px;
}
.upload-status-error {
  text-align: center;
  font-size: 12px;
  font-weight: normal;
  color: #ea352d;
}
.page-note {
  margin-top: 60px;
}
.box-head {
  font-size: 16px;
  margin-top: 50px;
  font-weight: bold;
}
#response-area {
  margin-bottom: 40px;
}
.result-box {
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px 15px;
  background: #fafafa;
  border: 2px solid #ccc;
  height: 150px;
  overflow: auto;
  pre {
    line-height: 20px;
    font-size: 14px;
  }
}
.button-wrapper {
  text-align: center;
}
.hidden {
  display: none;
}
.login-panel {
  max-width: 456px;
  margin: 0 auto;
  background: #fff;

  @include media-pc {
    max-width: none;
    width: 456px;
  }
  a {
    display: block;
    margin: 40px 0 0;
  }
}


.buy-form {
  p {
    margin: 8px 0 0;
    line-height: 1.5;
  }
  .btn-default {
    margin: 8px 0 0;
  }
  .paypal-express-checkout-text {
    width: 67px;
    height: 23px;
    font-size: 18px;
    font-weight: 600;
    text-align: left;
    margin: 10px;
    color: #179bd7;
  }
  .btn-paypal-express-checkout {
    width: 100%;
    height: 50px;
    border: solid 3px #179bd7;
    img {
      width: 73px;
      height: 20px;
    }
  }
}
.buy-content {
  margin: 40px 0 0;
  padding: 24px 12.5% 0;
  border-top: 1px solid #f5f5f5;
  &:first-of-type {
    margin: 0;
  }
  &:last-of-type {
    padding: 40px 12.5%;
  }
}
.buy-content-inner {
  max-width: 320px;
  margin: 0 auto;
}
.buy-item {
  text-align: center;
  img {
    width: 148px;
    &.is-higher-height {
      width: auto;
      max-height: 148px;
    }
  }
  .btn-red {
    margin: 16px 0 0;
  }
}
.buy-item-name {
  margin: 8px 0 0;
  font-size: 16px;
  line-height: 1.5;
}
.buy-price-ja {
  margin: 16px 0 0;
  font-size: 28px;
  .item-shipping-fee {
    margin: 0 0 0 8px;
    font-size: 14px;
    font-weight: 400;
  }
}
.buy-price-table {
  display: table;
  border-collapse: collapse;
  width: 100%;
  &:first-child {
    margin: 8px 0 0;
  }
}
.buy-price-row {
  display: table-row;
  border-top: 1px solid #ccc;
  &:first-child {
    border: 0;
  }
}
.buy-price-cell {
  display: table-cell;
  padding: 16px 0;
  text-align: right;
  &:first-child {
    text-align: left;
  }
  &.buy-accordion {
    padding: 0;
    .accordion-toggle {
      padding: 16px 0;
    }
  }
}
.buy-you-pay {
  font-size: 22px;

  @include media-pc {
    font-size: 28px;
  }
}
.buy-accordion {
  margin: 16px 0 0;
  &.not-have {
    background: #ccc;
    .accordion-toggle {
      cursor: default;
    }
  }
  .accordion-toggle {
    border: 1px solid #ccc;
  }
  .form-group {
    margin: 0;
  }
  .accordion-toggle {
    padding: 16px;
  }
  .accordion-parent > ul {
    padding: 24px 40px;
    background: #fafafa;
    text-align: left;
  }
  .icon-arrow-bottom {
    font-size: 8px;
  }
}
.buy-balance-info {
  margin: 16px 0 0;
  line-height: 1.5;
}
.buy-user-info {
  transition: all ease-out 0.3s;
  &.disabled {
    background: #888;
    pointer-events: none;
    a {
      color: #333;
    }
  }
  h3 {
    margin: 40px 0 0;
    font-size: 14px;
    &:first-child {
      margin: 0;
    }
  }
  address {
    display: block;
  }
}
.buy-user-info-text {
  margin: 8px 0 0;
  font-size: 14px;
  line-height: 1.4;
}
.buy-user-info-fix {
  display: block;
  text-align: right;
  .icon-arrow-right {
    margin: 0 0 0 8px;
    font-size: 10px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}
.buy-error {
  p {
    line-height: 1.5;
  }
  a {
    display: block;
    margin: 16px 0 0;
  }
  ul {
    list-style: disc;
    padding: 0 24px;
    line-height: 1.5;
    li {
      margin: 8px 0 0;
    }
  }
}
.buy-done-flow {
  text-align: center;
  h3 {
    font-size: 14px;
  }
  > div {
    margin: 16px 0 0;
    background: url("/assets/transaction/bg-buy-done-flow.png");
    background-position: center;
    background-repeat: no-repeat;
    font-size: 0;
    text-align: center;
    i {
      margin: 0 0 0 8px;
      font-size: 20px;
    }
  }
  p {
    margin: 16px 0 0;
    font-size: 14px;
    line-height: 1.5;
  }
  a {
    display: block;
    margin: 16px 0 0;
  }
}
.buy-done-sns {
  text-align: center;
  h3 {
    font-size: 14px;
  }
  .social-media-box {
    margin: 16px 0 0;
  }
}
.buy-detail-open-app {
  width: 100%;
  margin: 16px 0 24px;
  background: #ea352d;
  color: #fff;
  line-height: 50px;
  text-align: center;
  font-weight: 600;
}
.items-box-container + .pager {
  margin: 20px 0 0;

  @include media-pc {
    margin: 40px 0 0;
  }
}
.icon {
  display: inline-block;
}
.item-name {
  font-size: 24px;
  text-align: center;
  word-wrap: break-word;
  line-height: 1.4;
}
.item-wording {
  margin: 8px 0 0;
  font-size: 14px;
  color: #888;
  line-height: 1.5;
  a {
    color: currentColor;
  }
}
.deleted-item-name {
  background: #fff;
  padding: 24px 16px;
  font-size: 16px;
  text-align: center;
}
.item-main-content {
  margin: 16px 0 0;
}
.item-box-container {
  background: #fff;
  margin: 40px auto 0;
  padding: 24px 16px 55px;

  @include media-pc {
    padding: 24px 40px 40px;
  }

  .item-sold-out-badge {
    > div {
      top: 24px;
      font-size: 28px;
    }
    &:after {
      border-width: 120px 120px 0 0;
    }
  }
}

.item-photo {
  position: relative;
  min-width: 280px;
  max-width: 360px;
  min-height: 280px;
  margin: 0 auto;
  background: #fafafa;

  @include media-pc {
    float: left;
    min-width: 300px;
    max-width: 300px;
    min-height: 375px;
  }
}

.item-price-box {
  margin: 24px 0 0;
}
.item-shipping-fee {
  display: inline-block;
  font-size: 16px;
}
.item-price {
  margin: 0 8px 0 0;
  font-size: 32px;

  @include media-pc {
    margin: 0 16px 0 0;
    font-size: 50px;
  }
}

.item-tax {
  font-size: 10px;
}
.sales-point-message {
  display: inline-block;
  position: relative;
  line-height: 1.5;
  color: #fff;
  background: #05B0B4;
  margin: 20px 0 0;
  padding: 8px;
  border-radius: 4px;
  &:after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 10px 7.5px 0 7.5px;
    border-color: #05B0B4 transparent transparent transparent;
  }
}
.item-buy-btn {
  display: block;
  height: 56px;
  margin: 16px 0 0;
  background: #ea352d;
  color: #fff;
  line-height: 56px;
  text-align: center;
  font-weight: 600;
  transition: all ease-out 0.3s;

  @include media-pc {
    height: 60px;
    line-height: 60px;

    &:hover {
      background: #e62017;
      color: #fff;
      text-decoration: none;
      opacity: 1;
    }
  }
  &.disabled {
    background: #888;
    cursor: not-allowed;
  }
}

.item-btn-client {
  color: #fff;
  display: block;
  width: 100%;
  margin: 24px 0 0;
  background: #ea352d;
  line-height: 60px;
  text-align: center;
  font-weight: 600;
}
.item-action-text {
  display: block;
  margin: 16px 0 0;
}
.item-open-app {
  margin: 16px 0 0;
  a {
    display: block;
  }
}
.item-description {
  padding: 24px 0 0;
  line-height: 1.5;

  @include media-pc {
    padding: 32px 0 0;
  }
}

.item-description-inner {
  white-space: pre-wrap;
}
.item-detail-entertainment-product {
  margin: 24px auto;

  @include media-pc {
    width: 700px;
  }
}
.item-detail-message {
  margin: 8px auto;

  @include media-pc {
    width: 700px;
  }
}
.item-social-media-box {
  margin: 24px 0 0;
  background: #fff;
  padding: 16px 0 8px;

  @include media-pc {
    margin: 24px auto;
    padding: 32px 0 24px;
    width: 700px;
  }
}
.items-in-user-profile {
  @include media-pc {
    width: 700px;
    margin: 0 auto;
  }
  .items-box-overflow:last-of-type {
    margin-bottom: 40px;
  }
}
.item-button-container {
  margin: 16px 0 0;
  font-size: 0;
  i {
    font-size: 14px;
    vertical-align: middle;
    &.rubber-band {
      animation: rubber-band 1s;
    }
    &.fade-out {
      animation: fade-out ease-out 1s;
    }
  }
  span {
    display: inline-block;
    margin: 1px 0 0 8px;
    font-size: 12px;
    vertical-align: middle;

    @include media-pc {
      font-size: 14px;
    }
    &.fade-in-up {
      animation: fade-in-up ease-out 0.4s forwards;
    }
    &.fade-out-up {
      animation: fade-out-up ease-out 0.4s forwards;
    }
    &.fade-in-down {
      animation: fade-in-down ease-out 0.4s forwards;
    }
  }
  a {
    display: inline-block;
  }
}

.item-button-left {
  @include media-pc {
    float: left;
  }
}
.item-button-right {
  margin: 16px 0 0;

  @include media-pc {
    margin: 8px 0 0;
    float: right;
  }
}
.item-button {
  display: inline-block;
  padding: 8px 16px;
  border-radius: 40px;
  transition: all ease-out 0.3s;
}
.item-button-like {
  color: #333;
  border: 1px solid #f5f5f5;
  background: #f5f5f5;
  &.has-error {
    animation: wobble 1s forwards;
  }
  &.is-liked {
    border: 1px solid #ea352d;
    background: none;
    color: #ea352d;
  }
  .icon-loading {
    margin: 0 0 0 8px;
  }
}
.item-button-report {
  margin: 0 0 0 8px;
  color: #333;
  background: #f5f5f5;

  @include media-pc {
    margin: 0 0 0 16px;
  }
}
.nav-item-link-prev-next {
  @include media-pc {
    margin: 24px auto 0;
    width: 700px;
  }
}
.item-download-head {
  height: 38px;
  margin: 16px 0 0;
  background: #ea352d;
  color: #fff;
  font-size: 18px;
  line-height: 38px;
  + .pc-top-store {
    display: table;
    width: 100%;
    text-align: center;
    > div {
      display: table-cell;
      background: #fafafa;
      padding: 16px;
    }
  }
}
.item-detail-table {
  width: 100%;
  max-width: 360px;
  margin: 8px auto 0;
  border-collapse: collapse;
  border: 1px solid #f5f5f5;

  @include media-pc {
    float: right;
    max-width: 300px;
    height: 375px;
    margin: 0 auto;

    .item-photo-expanded & {
      height: 420px;
    }
  }
  td {
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    padding: 16px 8px;
    width: 61%;
    background: #fff;
  }
  th {
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    padding: 16px 8px;
    width: 39%;
    text-align: left;
    font-weight: 400;
    background: #fafafa;
  }
  td, th {
    @include media-pc {
      padding: 8px;
    }
  }
  a {
    display: block;
    margin: 16px 0 0;

    @include media-pc {
      margin: 0;
    }

    &:first-child {
      margin: 0;
    }
  }
  .icon-arrow-right:before {
    font-size: 0.9em;
  }
}

.item-user-ratings {
  display: inline-block;
  margin: 8px 0 0 16px;
  &:first-child {
    margin: 0;
  }
  i {
    font-size: 16px;
    vertical-align: middle;
  }
  span {
    vertical-align: middle;
  }
}
.item-open-app {
  margin: 24px 0;
  padding: 8px 16px;
  .btn-default {
    margin: 16px 0;
  }
  p {
    font-size: 16px;
  }
}

@include media-pc {
  .error-container {
    margin: 40px auto 0;
  }
}

.error404 {
  background: #fff;
  padding: 40px;

  @include media-pc {
    padding: 80px 160px;
  }
}

.error-image {
  width: 100%;

  @include media-pc {
    width: 380px;
  }
}
