
.owl-carousel {
  position: relative;
  .owl-stage {
    position: relative;
  }
  .owl-stage-outer {
    position: relative;
    overflow: hidden;
  }
  .owl-item {
    min-height: 1px;
    float: left;
    -webkit-backface-visibility: hidden;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
  }
  .owl-item-inner {
    position: relative;
    width: 100%;
    height: 0;
    padding: 0 0 100%;
    &.is-higher-height {
      min-height: 300px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: auto;
        height: 100%;
        margin: auto;
      }
    }
    &.is-higher-width {
      min-height: 300px;
      img {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
      }
    }
  }
  img {
    width: 100%;
  }
  .owl-lazy {
    opacity: 0;
    transition: opacity 400ms ease;
  }
  .owl-nav {
    display: none;
  }
}
.owl-dots {
  line-height: 0;

  button {
    min-height: 0;
  }
}
.owl-dot {
  position: relative;
  overflow: hidden;
  display: inline-block;
  width: 25%;
  max-height: 90px;
  opacity: .4;
  cursor: pointer;

  @include media-pc {
    width: 75px;
    height: 75px;
    max-height: none;
  }
  .item-photo-expanded & {
    width: 20%;

    @include media-pc {
      width: 60px;
      height: 60px;
    }
  }
  &.active {
    opacity: 1;
    cursor: default;
  }
  img {
    &.is-higher-height {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translate(0, -50%);
    }
    &.is-higher-width {
      position: absolute;
      top: 0;
      left: 50%;
      width: auto;
      height: 100%;
      transform: translate(-50%, 0);
    }
  }
  span {
    display: none;
  }
}

.owl-dot-inner {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 100%;
  pointer-events: none;

  @include media-pc {
    position: static;
    width: auto;
    height: auto;
    padding: 0;
  }
}
.lazyload, .lazyloading {
  opacity: 0;
}
.lazyloaded {
  opacity: 1;
  transition: opacity 0.3s;
}
#krkr-open-button {
  position: fixed;
  z-index: 9997;
  right: 32px;
  bottom: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 205px;
  img {
    width: 100%;
  }
  &:hover {
    opacity: 0.8;
  }
  &:active {
    opacity: 0.6;
  }
}
#krkr-chat {
  flex-direction: column;
  opacity: 0;
  transform: translate3d(0, 100px, 0);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1);
  position: fixed;
  z-index: 9998;
  width: 360px;
  height: 540px;
  right: 16px;
  bottom: 16px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
  div {
    display: flex;
    justify-content: start;
    align-items: center;
    background: #eee;
    height: 32px;
    box-sizing: border-box;
    padding: 8px;
    .krkr-chat-title {
      display: none;
    }
  }
  iframe {
    display: block;
    border: none;
    flex: 1;
    margin: 0;
    padding: 0;
    width: 100%;
  }
  &.visible-on {
    display: flex;
  }
  &.open-animation {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  &.open {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    iframe {
      height: 100%;
    }
  }
  &.close-animation {
    opacity: 0;
    transform: translate3d(0, 100px, 0);
    z-index: -1;
  }
}

@include media-spL {
  #krkr-open-button {
    right: 16px;
    bottom: 8px;
    width: 155px;
    &:active, &:hover {
      opacity: 1;
    }
    a {
      &:active, &:hover, &:visited {
        opacity: 1;
      }
    }
  }
  #krkr-chat {
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    div {
      height: 55px;
      img {
        position: absolute;
        width: 30px;
        height: auto;
      }
      .krkr-chat-title {
        display: flex;
        justify-content: center;
        font-size: 14px;
        font-weight: 600;
        width: 100%;
      }
    }
  }
  .krkr-open {
    position: fixed;
    overflow: hidden;
    width: 100%;
  }
}

.pc-top-store {
  width: 264px;
  margin: 0 auto;

  @include media-pcL {
    width: 348px;
  }
  > a {
    float: left;
    width: 128px;
    height: 38px;
    margin: 0 0 0 8px;

    @include media-pcL {
      width: 170px;
      height: 50px;
    }

    &:first-child {
      margin: 0;
    }
  }
}

.top-carousel {
  height: 200px;
  overflow: hidden;
  position: relative;

  @include media-pc {
    height: 290px;
  }
  @include media-pcL {
    height: 390px;
  }
  .owl-item {
    height: 100%;
    > a {
      height: 100%;
    }
  }
  .owl-stage, .owl-stage-outer {
    height: 100%;
  }
  .owl-nav {
    color: transparent;
    display: block;
  }
  .owl-next, .owl-prev {
    cursor: pointer;
    height: 46px;
    width: 31px;
    position: absolute;
    top: 50%;
    transform: translateY(-23px);
  }
  .owl-next {
    background-image: url("/assets/common/jp/top/carousel-next.png");
    right: 10px;

    @include media-pc {
      right: 60px;
    }
  }
  .owl-prev {
    background-image: url("/assets/common/jp/top/carousel-prev.png");
    left: 10px;

    @include media-pc {
      left: 60px;
    }
  }
  .owl-dots {
    display: none;
    margin: -30px;
    text-align: center;

    @include media-pc {
      display: block;
    }
    .owl-dot {
      background: #fff;
      border-radius: 50%;
      height: 12px;
      margin-right: 15px;
      width: 12px;
      &:last-child {
        margin-right: 0;
      }
      &.active {
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }
}

.top-main-visual {
  background: url("/assets/common/jp/top/main_bg_pc.jpg");
  background-size: cover;
  display: none;
  height: 290px;

  @include media-pc {
    display: block;
  }
  @include media-pcL {
    height: 390px;
  }
  > div {
    position: relative;
    max-width: 730px;
    height: 100%;
    margin: 0 auto;

    @include media-pcL {
      max-width: 860px;
    }
    > img {
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: auto;
    }
  }
  h2 {
    font-size: 40px;
    line-height: 1.2;

    @include media-pcL {
      font-size: 60px;
    }
  }
  p {
    margin: 16px 0 0;
    font-size: 16px;
    line-height: 1.77778;

    @include media-pcL {
      font-size: 18px;
    }
  }
}

.top-main-visual-content {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(0, -50%);
}
.top-banner {
  display: block;
  background-size: cover;
  background-position: center;
  height: 100%;

  @include media-pcL {
    background-size: auto;
  }
  @include media-pcLL {
    background-size: contain;
    background-repeat: repeat-x;
  }

  &:hover {
    opacity: 1;
  }
  &.banner-new-register {
    background-image: url("/assets/common/jp/top/top-banner-new-register.png");
    background-repeat: repeat-x;
  }
  &.banner-welcome {
    background-color: #D9F7FF;
    background-image: url("/assets/common/jp/top/top-banner-welcome.png");
  }
  &.banner-kusanagi-xmas {
    background-image: url("/assets/common/jp/top/top-banner-kusanagi-xmas.jpg");
  }
}

.top-main-visual-store {
  margin: 24px 0 0;
  line-height: 0;
  > a {
    display: inline-block;
    width: 128px;
    height: 38px;
    margin: 0 0 0 8px;

    @include media-pcL {
      width: 170px;
      height: 50px;
    }

    &:first-child {
      margin: 0;
    }
    img {
      width: 100%;
    }
  }
}

#sp-top-banner {
  background: url("/assets/common/jp/top/main_bg_pc.jpg");
  background-size: cover;
  color: #333;
  height: 157px;
  padding: 20px 15px;
  position: relative;

  @include media-spS {
    padding: 20px 50px;
  }

  h2 {
    font-size: 1.8em;
    position: relative;
    z-index: 1;
  }
  img {
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    width: auto;

    @include media-spS {
      right: 30px;
    }
  }
}

#sp-top-dl {
  width: 240px;
  margin: 5px auto;

  @include media-spM {
    width: 468px;
    margin: 20px auto;
  }

  a {
    float: left;
    display: block;
    width: 110px;
    height: 32px;
    margin: 0 20px 0 0;

    @include media-spM {
      width: 230px;
      height: 68px;
    }

    &:last-child {
      margin: 0;
    }
    img {
      height: 100%;
    }
  }
}
.top-introduction-num {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 8px 0 0;
  border-radius: 50%;
  background: #ea352d;
  text-align: center;
  line-height: 40px;
  font-size: 24px;
  color: #fff;

  @include media-pcL {
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 30px;
  }
}
.download-btn-red-sp {
  display: block;
  height: 60px;
  border-radius: 8px;
  background: #ea352d;
  color: #fff;
  line-height: 60px;
  text-align: center;
  .icon-download {
    position: relative;
    top: -0.15em;
    margin: 0 8px 0 0;
    vertical-align: middle;
  }
}
.top-key-features {
  max-width: 1080px;
  margin: 60px auto;
  padding: 0 16px;
  h2 {
    font-size: 27px;
    margin-top: 20px;
    margin-bottom: 40px;

    @include media-pc {
      margin: 0 0 40px;
    }
  }
  .col-sm-3 {
    padding-left: 20px;
    padding-right: 20px;
  }
  figure {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border-radius: 50%;
    color: #ea352d;
    line-height: 120px;
    text-align: center;
    background: #f5f5f5;
  }
  img {
    width: 64px;
    height: 64px;
    vertical-align: middle;
  }
}
.pickup-container {
  padding: 20px 0 0;
  background: #f5f5f5;

  @include media-pc {
    padding: 40px 0;
  }
  h2 {
    font-size: 22px;
    text-align: center;

    @include media-pc {
      font-size: 28px;
    }
  }
  .items-box-container {
    @include media-pc {
      width: 700px;
      margin: 0 auto;
    }
    @include media-pcL {
      width: 940px;
    }
    > h3 {
      font-size: 18px;
      margin: 26px 11px;

      @include media-pc {
        font-size: 22px;
      }
    }
  }
  .items-box {
    margin: 0 0 20px 20px;
    width: calc(50% - 30px);

    @include media-pc {
      margin: 0 0 0 20px;
      width: 213px;
    }
    &:last-child {
      @include media-pc {
        display: none;
      }
      @include media-pcL {
        display: block;
        margin: 0 0 0 20px;
      }
    }
    figure {
      width: 100%;

      @include media-pc {
        width: 213px;
      }
    }
  }
  .view-all {
    padding: 0 0 30px;
    text-align: right;
    width: 91%;

    @include media-pc {
      padding: 20px 0 30px;
      width: 99.5%;
    }
  }
}

.pickup-head {
  font-size: 28px;
}
.item-base {
  background: #fff;
  padding: 0 16px;

  @include media-pc {
    padding: 0 50px;
  }
}
.nav-item-link-prev-next, .nav-user-link-prev-next {
  margin: 24px 4% 0;

  @include media-pc {
    margin: 24px 0 0;
  }
}
.nav-item-link-prev-next li, .nav-user-link-prev-next li {
  position: relative;
  width: 43%;
  word-wrap: break-word;

  @include media-pc {
    width: 45%;
  }
}
.nav-item-link-prev-next {
  .icon-arrow-left, .icon-arrow-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.nav-user-link-prev-next {
  .icon-arrow-left, .icon-arrow-right {
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
  }
}
.nav-item-link-prev, .nav-user-link-prev {
  float: left;
  padding: 0 0 0 14px;
}
.nav-item-link-prev .icon-arrow-left, .nav-user-link-prev .icon-arrow-left {
  left: 0;
}
.nav-item-link-next, .nav-user-link-next {
  float: right;
  padding: 0 14px 0 0;
  text-align: right;
}
.nav-item-link-next .icon-arrow-right, .nav-user-link-next .icon-arrow-right {
  right: 0;
}
