.l-single{
  &-container {
    background: #fff;
  }
  &-head {
    padding: 24px 8px;
    font-size: 18px;
    line-height: 1.5;
    text-align: center;
  }
  &-inner {
    border-top: 1px solid #f5f5f5;
    padding: 40px;
    p {
      margin: 8px 0 0;
      line-height: 1.5;
    }
    .btn-red{
      margin: 40px 0 0;
    }
  }
  &-content {
    max-width: 320px;
    margin: 0 auto;
    p{
      margin: 8px 0 0;
      line-height: 1.5
    }
  }
}
.target-item{
  &-label {
    font-size: 14px;
  }
  &-box {
    background: #eee;
    margin: 20px 0 40px 0;
    padding: 10px;
    overflow: hidden;
    img {
      width: 70px;
      height: 70px;
      float: left;
      margin: 0 10px 0 0;
    }
  }
}
.form{
  &-group {
    margin: 40px 0 0;
    label {
      font-weight: 600;
    }
    select {
      width: 100%;
    }
    .select-wrap {
      margin: 8px 0 0;
    }
  }
  &-require {
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: #fff;
    font-size: 12px;
    vertical-align: top;
    background: #ea352d;
  }
  &-info-text {
    margin: 8px 0 0;
    color: #888;
    line-height: 1.5;
  }
}
.select{
  &-wrap {
    position: relative;
    background: #fff;
  }
  &-default {
    position: relative;
    z-index: 2;
    height: 48px;
    padding: 0 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: 0;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
  }
}
.btn{
  &-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
    :hover {
      text-decoration: none;
    }
  }
  &-red {
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
    :hover {
      background: #e62017;
      color: #fff;
    }
  }
}
.flash_content{
  font-size:14px;
  color: red;
  margin: 10px 0 ;
}

@media screen and (min-width: 768px) {
  .l-single{
    &-container {
      width: 700px;
      margin: 0 auto;
    }
    &-head {
      padding: 32px 16px;
      font-size: 22px;
    }
    &-inner {
      padding: 64px;
    }
  }
}
@media screen and (min-width: 1068px) {
  .search-sort .select-default {
    height: 48px;
    padding: 0 16px;
    border: 1px solid #ccc
  }
}
