.u-bgWt { background-color: #fff; }
.u-bgGy { background-color: #f5f5f5; }

.u-fwBold { font-weight: 600; }

.u-taCenter { text-align: center; }
.u-taRight { text-align: right; }

.u-clRd { color: #ea352d; }
.u-clWt { color: #fff; }
.u-clBl { color: #0099e8; }

.u-50 { width: 50%; }
.u-30 { width: 30%; }
.u-70 { width: 70%; }

.u-fz14 {
  font-size: 14px;

  @include media-pc {
    font-size: 18px;
  }
}
.u-fz16 {
  font-size: 16px;

  @include media-pc {
    font-size: 20px;
  }
}
.u-fz18 {
  font-size: 18px;

  @include media-pc {
    font-size: 22px;
  }
}
.u-fz22 {
  font-size: 22px;

  @include media-pc {
    font-size: 26px;
  }
}
.u-fz18-24 {
  font-size: 18px;

  @include media-pc {
    font-size: 24px;
  }
}
.u-fz28 {
  font-size: 28px;

  @include media-pc {
    font-size: 38px;
  }
}

.u-mt00 { margin-top: 0 !important; }
