#transaction_messages
  = render :partial => "transaction_message", :collection => @transaction_messages, :as => "transaction_message"

#transaction_messages_form
  = render 'form', locals: {item: @item, transaction_message: @transaction_message}


= link_to new_item_review_path(@item) do
  - if current_user.id == @item.buyer_id
    受け取り評価する(buyer)
  - else
    評価する(seller)
