%footer.global-footer
  %nav
    %ul
      %li.download-app
        %a.is-disable{:href => ""}
          %img{:alt => "", :src => "/assets/common/mercari_icon.png", :width => "35px"}>/
          今すぐ無料ダウンロード！
      %li.footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li
            %a.is-disable{:href => ""} 会社概要（運営会社）
          %li
            %a{:href => "/privacy/"} プライバシーポリシー
          %li
            %a{:href => "/tos/"} メルカリ利用規約
          %li
            %a{:href => "/tos_paid_point/"} メルカリ利用規約・有償ポイントに関する特約
          %li
            %a{:href => "/tos_smartphone_support/"} あんしんスマホサポート制度に関する利用特約
          %li
            %a{:href => "/compliance/"} コンプライアンスポリシー
          %li
            %a{:href => "/data_security/"} 個人データの安全管理に係る基本方針
          %li
            %a{:href => "/tokutei/"} 特定商取引に関する表記
          %li
            %a{:href => "/shikin_kessai/"} 資金決済法に基づく表示
          %li
            %a.is-disable{:href => ""} 法令順守と犯罪抑止のために
          %li
            %a{:href => "/jobs/"} 採用情報
      %li.footer-cell
        %h2.footer-head メルカリを見る
        %ul
          %li
            %a{:href => "/category/"} カテゴリー一覧
          %li
            %a{:href => "/brand/"} ブランド一覧
          %li
            %a{:href => "/area/"} 出品地域一覧
          %li
            %a.is-disable{:href => "", :target => "_blank"} 公式ブログ
          %li
            %a.is-disable{:href => "", :target => "_blank"} 公式Twitter
          %li
            %a.is-disable{:href => "", :target => "_blank"} 公式Facebook
      %li.footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li
            %a{:href => "/help_center/"} メルカリガイド
          %li
            %a{:href => "/logo-guidelines/"} メルカリロゴ利用ガイドライン
          %li
            %a.is-disable{:href => ""} お知らせ
          %li
            %a{:href => "/rakuraku-mercari/"} らくらくメルカリ便とは
          %li
            %a{:href => "/yuyu-mercari/"} ゆうゆうメルカリ便とは
          %li
            %a{:href => "/rakuraku-ogata/"} 大型らくらくメルカリ便とは
          %li
            %a{:href => "/guide/car/"} 車体取引ガイド
          %li
            %a{:href => "/refund-returns/"} 返品・返金ポリシー
          %li
            %a{:href => "/safe/description/", :target => "_blank"} メルカリあんしん・あんぜん宣言！
          %li
            %a{:href => "/authenticity/"} 偽ブランド品撲滅への取り組み
          %li
            %a{:href => "/box/"} メルカリボックス
      %li.footer-cell
        %h2.footer-head 国
        %ul.footer-nav-lang
          %li
            %a.is-disable{:href => ""}
              %img{:alt => "", :src => "/assets/common/flag_us.png", :width => "22"}>/
              United States
          %li
            %a.is-disable{:href => ""}
              %img{:alt => "", :src => "/assets/common/flag_uk.png", :width => "22"}>/
              United Kingdom
          %li
            %a.active{:href => "/"}
              %img{:alt => "", :src => "/assets/common/flag_jp.png", :width => "22"}>/
              日本
  %a.footer-logo{:href => "/"}
    %img{:alt => "mercari", :height => "33", :src => "/assets/common/logo-white.svg", :width => "124"}/
  %p.footer-copyright
    %small © 2018 Mercari
%a.footer-sell-btn{:href => "/sell/"}
  %div 出品
  %i.icon-camera
