%section.c-items-box
  = link_to 'dummy' do
    %figure.c-items-box_photo
      = image_tag 'common/img_dummy.jpg'
    .c-items-box_body
      %h3.c-items-box_name.c-font-2 ロンハーマン  Ron Herman ライトイエロー クラッチバック ベロア
      .c-items-box_num.l-clearfix
        .c-items-box_price.c-font-5 ¥ 3,800
        .c-items-box_likes.c-font-2
          %i.c-icon-like-border
          %span 1
        %p.c-item-box_tax (税込)
